<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(assets/img/bg-img/24.jpg);">
        <h2>{{ 'account.signUp' | translate }}</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i>{{ 'general.home' | translate }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ 'account.signUp' | translate }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<section class="contact-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-5">
                
                <div class="section-heading">
                    <h2>{{ 'account.signUp' | translate }}</h2>
                    <p>{{ 'account.signUpText' | translate }}</p>
                </div>
                
                <div class="contact-form-area mb-100">                 
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <label *ngIf="errorResponse" class="error-text">{{ 'account.errorResponseMessage' | translate }}</label>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="usernameSignup">{{ 'account.username' | translate }}*</label>
                                    <input type="text" 
                                        id="usernameSignup"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && (f.username.errors || conflictUser) }"
                                        formControlName="username">
                                    <label *ngIf="conflictUser" class="error-text">{{ 'account.conflictNameMessage' | translate }}</label> 
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="emailSignup">{{ 'account.email' | translate }}*</label>
                                    <input type="email" 
                                        id="emailSignup"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && (f.email.errors || conflictEmail) }" 
                                        formControlName="email">
                                        <label *ngIf="conflictEmail" class="error-text">{{ 'account.conflictEmailMessage' | translate }}</label>    
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="passwordSignup">{{ 'account.password' | translate }}*</label>
                                    <input type="password" 
                                        id="passwordSignup"
                                        class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        formControlName="password">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn alazea-btn mt-15">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>