<div class="container mt-15">
    
    <div class="row justify-content-center">
        
        <div class="col-12 col-md-8">   
          <div class="p-3 divPost rounded shadow-sm">

            <div class="row mb-15">
                <div class="col-8 col-md-10"><h6>Your labels</h6></div>
                <div class="col-8 col-md-2 commetDate">
                    <button type="button" class="btn btn-outline-primary addLabelBtn" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      <mat-icon>library_add</mat-icon>
                    </button>
                </div>
            </div>
            
            <div class="collapse mt-15" id="collapseExample">
                <div class="card card-body">
                    <form [formGroup]="labelForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="label" class="form-control" id="labelName" placeholder="label"/>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex text-muted pt-3"  *ngFor="let label of userLabels">
              
              <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                  <div class="col-12 col-md-1 pad-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                  </div>
                  <div class="col-12 col-md-10">
                    <strong class="text-gray-dark">{{label.label}}</strong>({{label.postCount}})
                    <span class="d-block">{{label.creationDate}}</span>
                  </div>
                  <div class="col-12 col-md-1">
                    <button type="button" class="btn btn-outline-danger addLabelBtn" (click)="removeLabel(label)" [disabled]="label.postCount > 0"><mat-icon>delete_outline</mat-icon></button>
                  </div>
                </div>
              </div>
            </div>
            <small class="d-block text-end mt-3">
              <a href="#">All suggestions</a>
            </small>
          </div>
        </div>
  
        <div class="col-12 col-sm-9 col-md-4" >
          <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action" routerLink="/userProfile">My profile</a>
              <a href="#" class="list-group-item list-group-item-action" routerLink="/createPost">Create post</a>
              <a href="#" class="list-group-item list-group-item-action active" routerLink="/userlabel">My labels</a>
              <a href="#" class="list-group-item list-group-item-action" routerLink="/usercomments">My comments</a>
              <a href="#" class="list-group-item list-group-item-action" routerLink="/uservotes">My votes</a>
          </div>
        </div>
  
    </div>
  </div>
