<main class="content">
  <div class="container-fluid">
    <div class="header">
        <h1 class="header-title">
            Your comments
        </h1>
    </div>
    
    <div class="row">

      <div class="col-md-3 col-xl-2">
        <div class="card">
          <div class="card-header">
              <h5 class="card-title mb-0">Profile Settings</h5>
          </div>
          <div class="list-group list-group-flush" role="tablist">
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" routerLink="/userProfile" 
                  routerLinkActive="active" role="tab">
                  <i class="align-middle me-2 fas fa-fw fa-user"></i> <span class="align-middle">Profile</span>
              </a>
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" routerLink="/userlabel" routerLinkActive="active" role="tab">
                  <i class="align-middle me-2 far fa-fw fa-list-alt"></i> <span class="align-middle">Labels</span>
              </a>
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" routerLink="/usercomments" routerLinkActive="active" role="tab">
                  Comments
              </a>
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" routerLink="/userfollow" routerLinkActive="active" role="tab">
                  Follow
              </a>
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" routerLink="/userfollower" routerLinkActive="active" role="tab">
                  Follower
              </a>
          </div>
      </div>
      </div>
    <div class="col-md-9 col-xl-10">
      <div class="card">
        <div class="card-body">

          <div *ngIf="!isLoading && hasComments">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:40%;">Post</th>
                  <th style="width:40%;">Your comment</th>
                  <th style="width:25%">Creation date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let comment of userComments">
                  <td>
                    <a routerLink="/{{comment.authorPostId}}/{{comment.postId}}"><strong>{{comment.titlePost}}</strong></a><br/>
                    <a class="removeLinkLine" href="userpage/{{comment.authorPostId}}"><small>{{comment.authorPostId}}</small></a>
                  </td>
                  <td class="d-none d-md-table-cell">{{comment.text}}</td>
                  <td>{{comment.creationDate}}</td>
                  <td class="table-action">
                    <button type="button" class="btn btn-outline-danger addLabelBtn" (click)="deleteComment(comment)"><i class="align-middle fas fa-fw fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <app-loader></app-loader>
            <div *ngIf="!isLoading && !hasComments">
              You dont have comments
            </div>
          </div>  
      </div>  

      </div>
      </div>
    </div>
  </div>
</main>