<section class="pt-7 pb-5 landing-bg text-white overflow-hidden">
  <div class="container py-4">
    <div class="row">
      <div class="col-xl-11 mx-auto">
        <div class="row">
          <div class="col-md-12 col-xl-8 text-center mx-auto">
            <div class="d-block my-4">
              <h1 class="display-4 fw-bold mb-3 text-white">Community bird</h1>
              <p class="lead fw-light mb-3 landing-text">UNa comunidad de observadores de aves, gestiona y controlas tu observaciones 
                y compartelas con el resto de la comunidad.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="py-3 bg-white landing-nav">
  <div class="container text-center">
    <a class="btn btn-lg btn-pill btn-link text-dark" routerLink="lastposts">Last posts</a>
    <a class="btn btn-lg btn-pill btn-link text-dark" routerLink="searchpage">Map</a>
    <a class="btn btn-lg btn-pill btn-link text-dark" routerLink="birdpage">See birds</a>
    <a class="btn btn-lg btn-pill btn-link text-dark" routerLink="withoutspecie">{{ 'general.pendingSpecie' | translate }}</a>
  </div>
</div>

<section class="py-6">
  <div class="container">
    <div class="mb-4 text-center">
      <h2>Multiple demos</h2>
      <p class="text-muted">Multiple color schemes & dashboard layouts available to make this template your very own.</p>
    </div>

    <div class="row pb-3">
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-default.html?theme=modern" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home1.jpg" class="img-fluid card-img-hover landing-img" alt="Modern Bootstrap 5 Dashboard Theme" />
          </div>
        </a>
        <h4>Modern Theme</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-default.html?theme=light" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home2.webp" class="img-fluid card-img-hover landing-img" alt="Light Bootstrap 5 Dashboard Theme" />
          </div>
        </a>
        <h4>Light Theme</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-default.html?theme=dark" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/hom3.jpg" class="img-fluid card-img-hover landing-img" alt="Dark Bootstrap 5 Dashboard Theme" />
          </div>
        </a>
        <h4>Dark Theme</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-default.html" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home4.png" class="img-fluid card-img-hover landing-img"
              alt="Default Bootstrap 5 Dashboard Theme" />
          </div>
        </a>
        <h4>Default Dashboard</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-analytics.html" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home7.jpg" class="img-fluid card-img-hover landing-img"
              alt="Analytics Bootstrap 5 Dashboard Theme" />
          </div>
        </a>
        <h4>Analytics Dashboard</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-e-commerce.html" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home8.jpg" class="img-fluid card-img-hover landing-img"
              alt="E-Commerce Bootstrap 5 Dashboard Theme" />
          </div>
        </a>
        <h4>E-commerce Dashboard</h4>
      </div>
    </div>
  </div>
</section>

<section class="py-6 bg-white">
  <div class="container">

    <div class="mb-4 text-center">
      <h2>Testimonials</h2>
      <p class="text-muted">Here's what some of our 3,000 customers have to say about working with our products.</p>
    </div>



    

    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let post of lastObservations">
        <blockquote class="card border">
          <div class="card-body p-4">
            <div class="d-flex align-items-center mb-3">
              <div>
                <img src="{{urlPostImage}}{{post.imageUrl}}" width="100%" height="225" >
              </div>
              <div class="ps-3">
                <h5 class="mb-1 mt-2">{{post.userId}}</h5><small class="d-block text-muted h5 fw-normal">{{post.observationDate}}</small>
              </div>
            </div>
            <p class="lead mb-2">{{post.title}}</p>
            <small>{{post.birdSpecie}}</small>
            <div class="landing-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </blockquote>
      </div>

      
      
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h2 class="mb-3">
          Join over 3,000 developers who are already working with our products
        </h2>
        <a href="https://themes.getbootstrap.com/product/spark-responsive-admin-template/" target="_blank"
          class="align-middle btn btn-success btn-lg mt-n1">
          Purchase Now
        </a>
      </div>
    </div>
  </div>
</section>