
<section class="pb-5 landing-bg text-white overflow-hidden">
  <div class="container py-4">
    <div class="row">
      <div class="col-xl-11 mx-auto">
        <div class="row">
          <div class="col-md-12 col-xl-8 text-center mx-auto">
            <div class="d-block my-4">
              <div class="px-4 pt-4">
                <img src="../../../assets/img/core-img/bclogo.png" alt="Webpack" class="align-middle me-2" width="100">
              </div>
              <h1 class="display-4 fw-bold mb-3 text-white">Community bird</h1>
              <p class="lead fw-light mb-3 landing-text">
                {{ 'home.description' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h2 class="mb-3">
          {{ 'home.unete' | translate }}
        </h2>
        <a *ngIf="userName == null" routerLink="signup"
          class="align-middle btn btn-success btn-lg mt-n1 btn-pill">
          {{ 'home.register' | translate }}
        </a>
        <div *ngIf="userName == null">
          <p>
            {{ 'home.isNotLoginText' | translate }}
            <a class="my-2 ms-2" routerLink="login">
              {{ 'home.login' | translate }}
            </a>
          </p>       
        </div>
        <div *ngIf="userName != null">
          <p>
            {{ 'home.isLoginText' | translate }}
            <a class="my-2 ms-2" routerLink="userpage/{{userName}}">
              {{ 'home.goToYourPage' | translate }}
            </a>
          </p>       
        </div>
         
      </div>
    </div>
  </div>
</section>

<div class="py-3 bg-white landing-nav">
  <div class="container text-center">
    <a class="btn btn-lg btn-pill btn-link text-dark" routerLink="lastposts">{{ 'home.lastPost' | translate }}</a>
    <a class="btn btn-lg btn-pill btn-link text-dark" routerLink="searchpage">{{ 'home.map' | translate }}</a>
    <a class="btn btn-lg btn-pill btn-link text-dark" routerLink="birdpage">{{ 'home.seeBird' | translate }}</a>
    <a class="btn btn-lg btn-pill btn-link text-dark" routerLink="withoutspecie">{{ 'home.helpWithEspecie' | translate }}</a>
  </div>
</div>


<section class="py-6">
  <div class="container">
    <div class="mb-4 text-center">
      <h2>{{ 'home.whatYouCanDo' | translate }}</h2>
      <p class="text-muted">{{ 'home.whatYouCanDoDescription' | translate }}</p>
    </div>

    <div class="row pb-3">
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-default.html?theme=modern" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home8.jpg" class="img-fluid card-img-hover landing-img"
              alt="{{ 'home.createProfile' | translate }}" />
          </div>
        </a>
        <h4>{{ 'home.createProfile' | translate }}</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-default.html?theme=light" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home8.jpg" class="img-fluid card-img-hover landing-img"
              alt="{{ 'home.managaYourObservations' | translate }}" />
          </div>
        </a>
        <h4>{{ 'home.managaYourObservations' | translate }}</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-default.html?theme=dark" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home8.jpg" class="img-fluid card-img-hover landing-img"
              alt="{{ 'home.upExperience' | translate }}" />
          </div>
        </a>
        <h4>{{ 'home.upExperience' | translate }}</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-default.html" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home8.jpg" class="img-fluid card-img-hover landing-img"
              alt="{{ 'home.searchSpecies' | translate }}" />
          </div>
        </a>
        <h4>{{ 'home.searchSpecies' | translate }}</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-analytics.html" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home8.jpg" class="img-fluid card-img-hover landing-img"
              alt="{{ 'home.searchMap' | translate }}" />
          </div>
        </a>
        <h4>{{ 'home.searchMap' | translate }}</h4>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <a class="mb-3 card overflow-hidden" href="dashboard-e-commerce.html" target="_blank">
          <div class="px-4 pt-4">
            <img src="../../../assets/img/bg-img/home8.jpg" class="img-fluid card-img-hover landing-img"
              alt="{{ 'home.helpUsers' | translate }}" />
          </div>
        </a>
        <h4>{{ 'home.helpUsers' | translate }}</h4>
      </div>
    </div>
  </div>
</section>




