<section class="contact-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>Sign up</h2>
                    <p>Register in our web site and share your photos</p>
                </div>
                <!-- Contact Form Area -->
                <div class="contact-form-area mb-100">   
                    <div *ngIf="conflictUser || conflictEmail" class="has-error">{{conflictMessage}}</div>               
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="username">{{ 'account.username' | translate }}*</label>
                                    <input type="text" 
                                        class="form-control"
                                        [ngClass]="{ 'has-error': submitted && f.username.errors || conflictUser }"
                                        formControlName="username">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="username">{{ 'account.email' | translate }}*</label>
                                    <input type="email" 
                                        class="form-control"
                                        [ngClass]="{ 'has-error': submitted && f.email.errors || conflictEmail }" 
                                        formControlName="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="username">{{ 'account.password' | translate }}*</label>
                                    <input type="password" 
                                        class="form-control" 
                                        [ngClass]="{ 'has-error': submitted && f.password.errors }"
                                        formControlName="password">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn alazea-btn mt-15">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>