<main class="main h-100 w-100">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Get started</h1>
                        <p class="lead">
                            {{ 'account.signUpText' | translate }}
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                    <div class="mb-3">
                                        <label *ngIf="errorResponse" class="error-text">{{ 'account.errorResponseMessage' | translate }}</label>
                                    </div>
                                    <div class="mb-3">
                                        <label  for="usernameSignup">{{ 'account.username' | translate }}*</label>
                                        <input type="text" 
                                            id="usernameSignup"
                                            class="form-control form-control-lg"
                                            [ngClass]="{ 'is-invalid': submitted && (f.username.errors || conflictUser) }"
                                            placeholder="{{ 'account.username' | translate }}"
                                            formControlName="username">
                                        <label *ngIf="conflictUser" class="error-text">{{ 'account.conflictNameMessage' | translate }}</label> 
                                    </div>
                                    <div class="mb-3">
                                        <label for="emailSignup">{{ 'account.email' | translate }}*</label>
                                        <input type="email" 
                                            id="emailSignup"
                                            class="form-control form-control-lg"
                                            [ngClass]="{ 'is-invalid': submitted && (f.email.errors || conflictEmail) }" 
                                            placeholder="{{ 'account.email' | translate }}"
                                            formControlName="email">
                                            <label *ngIf="conflictEmail" class="error-text">{{ 'account.conflictEmailMessage' | translate }}</label>   
                                        <label>Email</label>
                                    </div>
                                    <div class="mb-3">
                                        <label for="passwordSignup">{{ 'account.password' | translate }}*</label>
                                        <input type="password" 
                                            id="passwordSignup"
                                            class="form-control form-control-lg" 
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                            placeholder="{{ 'account.password' | translate }}"
                                            formControlName="password">
                                    </div>
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-lg btn-primary">Sign up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>