
<div class="divAuthor">
    <div class="d-flex">
        <div>
            <img class="imgProfilePost" [src]="userImage" alt="image of {{userInfo.userName}}">
        </div>
        <div>
            <strong>{{userInfo.userName}}</strong>
            <p><small>Register from: {{userInfo.registrationDate}}</small></p>
        </div>
    </div>
    <p><em>{{userInfo.description}}</em></p>
    <div  class="d-flex">
        <a href="https://{{userInfo.facebookUrl}}" *ngIf="userInfo.facebookUrl != '' && userInfo.facebookUrl != null"  target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://{{userInfo.twitterUrl}}" *ngIf="userInfo.twitterUrl != '' && userInfo.twitterUrl != null"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://{{userInfo.instagramUrl}}" *ngIf="userInfo.instagramUrl != '' && userInfo.instagramUrl != null"  target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://{{userInfo.urlWebSite}}" *ngIf="userInfo.urlWebSite != '' && userInfo.urlWebSite != null"  target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </div>
    <div  class="d-flex">
        <a href="/usermappage/{{userInfo.userName}}"><img class="mapAuthor img-fluid" alt="" src="../../../../../assets/img/bg-img/maplink.jpg"></a>
    </div>
</div>
