<!-- ##### Single Widget Area ##### -->
<div class="single-widget-area">
    <!-- Author Widget -->
    <div class="author-widget divAuthor">
        <div class="author-thumb-name d-flex align-items-center">
            <div class="author-thumb">
                <img [src]="userImage" alt="image of {{userInfo.userName}}">
            </div>
            <div class="author-name">
                <p>{{userInfo.userName}}</p>
                <h5>Register from: {{userInfo.registrationDate}}</h5>
            </div>
        </div>
        <p>{{userInfo.description}}</p>
        <div class="social-info">
            <a href="https://{{userInfo.facebookUrl}}" *ngIf="userInfo.facebookUrl != '' && userInfo.facebookUrl != null"  target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://{{userInfo.twitterUrl}}" *ngIf="userInfo.twitterUrl != '' && userInfo.twitterUrl != null"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://{{userInfo.instagramUrl}}" *ngIf="userInfo.instagramUrl != '' && userInfo.instagramUrl != null"  target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://{{userInfo.urlWebSite}}" *ngIf="userInfo.urlWebSite != '' && userInfo.urlWebSite != null"  target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <br/>
        <a href="/usermappage/{{userInfo.userName}}"><img class="mapAuthor" alt="" src="../../../../../assets/img/bg-img/maplink.jpg"></a>
    </div>
</div>