<main class="main h-100 w-100">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Welcome</h1>
                        <p class="lead">
                            {{ 'account.resetPasswordText' | translate }}
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body" *ngIf="!resetPasswordOk">
                            <div class="m-sm-4">
                               
                                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                                    <div class="mb-3">
                                        <label *ngIf="errorResponse" class="text-danger">{{ 'account.errorResponseMessage' | translate }}</label>
                                        <label *ngIf="notSamePassword" class="text-danger">{{ 'account.notSamePassword' | translate }}</label>
                                    </div>
                                    


                                    <div class="mb-3">
                                        <label for="passwordReset">{{ 'account.password' | translate }}*</label>
                                        <input type="password" 
                                            id="passwordReset"
                                            class="form-control form-control-lg"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                            placeholder="{{ 'account.password' | translate }}"
                                            formControlName="password">
                                    </div>
                                    <div class="mb-3">
                                        <label for="repeatPasswordReset">{{ 'account.repeatPassword' | translate }}*</label>
                                        <input type="password" 
                                            id="repeatPasswordReset"
                                            class="form-control form-control-lg" 
                                            [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }"
                                            placeholder="{{ 'account.repeatPassword' | translate }}"
                                            formControlName="repeatPassword">
                                    </div>
            
                                    
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-lg btn-primary">{{ 'account.reset' | translate }}</button>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <div class="card-body" *ngIf="resetPasswordOk">
                            <div class="m-sm-4">
                               
                                <label>{{ 'account.changePasswordOK' | translate }}</label>&nbsp;<a routerLink="login" routerLinkActivate="activate">{{ 'account.login' | translate }}</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>