<div class="breadcrumb-area">
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(assets/img/bg-img/24.jpg);">
        <h2>{{ 'account.resetPassword' | translate }}</h2>
    </div>
</div>

<section class="contact-area section-padding-0-100">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-5">
               
                <div class="section-heading">
                    <h2>{{ 'account.resetPassword' | translate }}</h2>
                    <p>{{ 'account.resetPasswordText' | translate }}</p>
                </div>
              
                <div *ngIf="!resetPasswordOk" class="contact-form-area mb-100">
                    
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                        
                        <label *ngIf="errorResponse" class="error-text">{{ 'account.errorResponseMessage' | translate }}</label>
                        <label *ngIf="notSamePassword" class="error-text">{{ 'account.notSamePassword' | translate }}</label>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="passwordReset">{{ 'account.password' | translate }}*</label>
                                <input type="password" 
                                    id="passwordReset"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    formControlName="password">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="repeatPasswordReset">{{ 'account.repeatPassword' | translate }}*</label>
                                <input type="password" 
                                    id="repeatPasswordReset"
                                    class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }"
                                    formControlName="repeatPassword">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn alazea-btn mt-15">{{ 'account.reset' | translate }}</button>
                        </div>
                    </form>
                </div>

                <div *ngIf="resetPasswordOk" class="contact-form-area mb-100">
                    <div>
                        <label>{{ 'account.changePasswordOK' | translate }}</label>&nbsp;<a routerLink="login" routerLinkActivate="activate">{{ 'account.login' | translate }}</a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>