

<!--<div class="modal-header">
    <h5 class="modal-title">{{ modalData.title | translate }}</h5>
</div>-->
<div class="modal-body">
    <p>{{ modalData.description | translate }}</p>
</div>
<div class="modal-footer">
    <button type="button" [hidden]="modalData.hideCancelButton" class="btn btn-primary" (click)="cancelModal()">{{ modalData.cancelButtonText | translate }}</button>
    <button type="button" [hidden]="modalData.hideAcceptButton" class="btn btn-primary" (click)="acceptModal()">{{ modalData.acceptButtonText | translate }}</button>
</div> 
