<main class="content">
  <div class="container-fluid">
    <div class="header">
        <h1 class="header-title">
            Blank Page
        </h1>
    </div>
    
    <div class="row">
      
      <div class="col-xxl-8">
        <app-loader></app-loader>    
        <div class="card-body">

          <div *ngIf="!isLoading && hasVotes">
            <div class="card"  *ngFor="let vote of userVotes">

              <div class="card-body">
                <h5 class="card-title">
                  <i class="align-middle me-2 fas fa-fw fa-arrow-alt-circle-up"></i>
                  <a class="removeLinkLine" href="{{vote.userId}}/{{vote.postId}}"><strong class="text-gray-dark">{{vote.text}}</strong></a>&nbsp;-&nbsp;<a class="removeLinkLine" href="userpage/{{vote.authorPostId}}"><small>{{vote.authorPostId}}</small></a>
                </h5>
                <div class="d-flex justify-content-between">
                  <div class="col-12 col-md-10">
                    <h6 class="card-subtitle text-muted">Creation date:&nbsp;{{vote.creationDate}}</h6>
                  </div>
                  <div class="col-12 col-md-1">
                    <button type="button" class="btn btn-outline-danger addLabelBtn" (click)="deleteVote(vote)"><i class="align-middle me-2 fas fa-fw fa-trash-alt"></i></button>
                  </div>
                </div>
              </div>
            </div>  
          </div>          
        </div>
        <div *ngIf="!isLoading && !hasVotes" class="d-flex text-muted pt-3">
          You dont vote comments
        </div>
            
      </div>

      <div class="col-xxl-4">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" routerLink="/userProfile">My profile</a>
          <a href="#" class="list-group-item list-group-item-action" routerLink="/userlabel">My labels</a>
          <a href="#" class="list-group-item list-group-item-action active" routerLink="/usercomments">My comments</a>
          <a href="#" class="list-group-item list-group-item-action" routerLink="/uservotes">My votes</a>
          <a href="#" class="list-group-item list-group-item-action" routerLink="/usercommentvotes">My Comment votes</a>
        </div>
      </div>
    </div>
  </div>
</main>



