<div *ngIf="type!='post'">
    <strong>{{ 'userPage.birdSpecie' | translate }}:&nbsp;</strong>
    <label [hidden]="!specieOldName"> {{specieOldName}}</label>
    <span class="link-info" *ngIf="!specieOldName">Help the user to identify the bird</span>
    &nbsp;
    <a class="badge bg-secondary" *ngIf="showOptions" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        change specie
    </a>
</div>

<div class="row">
    <div class="collapse  div-bottom-line" id="collapseExample">
        <div class="modal-body">
            <div *ngIf="!finishChange">
                Select specie:
                <mat-form-field class="autocomplete-full-width">
                    <input type="text" aria-label="Number" matInput  [matAutocomplete]="autoBird"
                        [formControl]="autocompleteControl"  
                        id="specieNamePost" placeholder="{{ 'createPost.birdSpecie' | translate }}">
                        
                    <mat-autocomplete #autoBird="matAutocomplete" (optionSelected)='selectSpecie($event.option.value)'>
                        <mat-option *ngFor="let option of filteredSpecies | async" [value]="option" (change)="selectSpecie(option)" (click)="$event.stopPropagation()">
                            {{option.nameComplete}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                
                <input type="text" [formControl]="userHelpedIdentification"  
                        id="userHelpedIdentification" placeholder="user help you">
            </div>
            <div class="alert alert-success" *ngIf="finishChange">
                The change has been completed
            </div>
        </div>
        <div >
            <button *ngIf="isPending && !finishChange" type="button" class="btn btn-primary" (click)="assignpecie()">assign specie</button>
            <button *ngIf="!isPending && !finishChange" type="button" class="btn btn-primary" (click)="updateSpecie()">update specie</button>
        </div> 
    </div>
</div>

