<div class="container mt-15">
    <div class="alert alert-info" role="alert">
        Lorem fistrum a gramenawer al ataquerl tiene musho peligro. Jarl ese pedazo de sexuarl ese pedazo de torpedo pupita se calle ustée. Se calle ustée qué dise usteer ahorarr jarl condemor. Se calle ustée no puedor ese que llega mamaar te va a hasé pupitaa sexuarl hasta luego Lucas está la cosa muy malar jarl amatomaa.
    </div>
    <div class="row justify-content-center">           
        <div class="album py-5 bg-light">
            
            <div class="container">
                
                <app-loader></app-loader>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" *ngFor="let post of pendingPosts">
                        
                        <div class="card shadow-sm">
                            <div class="authorWithoutSpecie">
                                <img src="https://birdpostsqa.blob.core.windows.net/profiles/{{post.userPhoto}}" alt="image of {{post.userId}}" class="imgAuthorPost">
                                <strong class="d-inline-block mb-2 text-primary"><a class="text-dark btn fs-6 fw-light removeLinkLine" href="/userpage/{{post.userId}}">{{post.userId}}</a></strong>
                            </div>
                            <a class="removeLinkLine" href="/{{post.userId}}/post/{{post.postId}}">
                                <img src="{{imagesPostUrl}}{{post.imageUrl}}" alt="{{post.altImage}}" class="bd-placeholder-img" width="100%">
                            </a>
                            <div class="card-body">
                                <h5 class="mb-0">{{post.title}}</h5>
                                <p class="card-text cutText"><small>{{post.text}}</small></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a role="button" href="/{{post.userId}}/post/{{post.postId}}" class="btn btn-sm btn-outline-secondary">Read more...</a>
                                    </div>
                                    <small class="text-muted">{{post.observationDate}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="single-post-details-area" *ngIf="!hasNotPosts">
                <div class="leave-comment-area clearfix">
                    <div class="post-content">
                        <p>
                            {{ 'userPage.userWithoutPost' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-9 col-md-4" >
          
        </div>
    </div>
</div>

















