<div class="container">

    <!----modal starts here--->
            <img src="{{modalData.image}}" class="img-responsive">
</div>

<!--
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ modalData.title | translate }}</h5>
    </div>
    <div class="modal-body m-3">
        
        <img src="{{modalData.image}}" class="img-responsive" style="max-height:250px;">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">close</button>
    </div>
</div>

<div class="modal-body">
    <img src="{{modalData.image}}" class="imageFull">
</div>
<div >
    <button type="button" class="btn btn-primary" (click)="closeModal()">close</button>
</div> -->
