<div class="container">

    <div class="form-signin">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    
            <h1 class="h3 mb-3 fw-normal">{{ 'account.forgotPasswordText' | translate }}</h1>            
            
            <div *ngIf="!forgotPasswordOk">
                    
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    
                    <label *ngIf="errorResponse" class="error-text">{{ 'account.errorResponseMessage' | translate }}</label>
                    <label *ngIf="emailNotFound" class="error-text">{{ 'account.userNotFound' | translate }}</label>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="emailForgotpassword" class="visually-hidden">{{ 'account.email' | translate }}*</label>
                                <input type="email" 
                                    id="emailForgotpassword"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                    formControlName="email">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="w-100 btn btn-lg btn-primary">{{ 'account.send' | translate }}</button>
                        </div>
                    </div>
                </form>

            </div>

            <div *ngIf="forgotPasswordOk">
                <div>
                    <label>{{ 'account.forgotPasswordOk' | translate }}</label>&nbsp;<a routerLink="/" routerLinkActive="active">{{ 'general.home' | translate }}</a>
                </div>                    
            </div>
        </form>
      </div>
</div>