<main class="content">
    <div class="container-fluid">
        <div class="header">
            <h1 class="header-title">
                Blank Page
            </h1>
        </div>
        
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Filter</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                       
                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" [matAutocomplete]="autoBird"
                                    [formControl]="autocompleteControl" 
                                    id="specieNamePost" placeholder="Introduce especie">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="removeFilterSpecie()" [hidden]="hideRemoveBtn">
                                        <i class="align-middle me-1 fas fa-fw fa-times"></i>
                                    </button> 
                                    <button type="button" class="btn btn-secondary" (click)="addFilterSpecie()" [hidden]="!hideRemoveBtn">
                                        <i class="align-middle me-1 fas fa-fw fa-search"></i>
                                    </button> 
                                </span>
                                <mat-autocomplete #autoBird="matAutocomplete" (optionSelected)='selectSpecie($event.option.value)'>
                                    <mat-option *ngFor="let option of filteredSpecies | async" [value]="option" 
                                        (change)="toggleSelection(option)" (click)="$event.stopPropagation()">
                                        {{option.nameComplete}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                        </div>
        
                
                        <div class="form-group col-md-6">
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioOrderSearch" id="radioOrderSearch1" 
                                        (change)="changeSearchOrder($event)" value="1" checked>
                                    <span class="form-check-label"  for="radioOrderSearch1">
                                        By date
                                    </span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioOrderSearch"
                                        (change)="changeSearchOrder($event)" value="2" id="radioOrderSearch2">
                                    <span class="form-check-label"  for="radioOrderSearch2">
                                        Most votes
                                    </span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioOrderSearch"
                                        (change)="changeSearchOrder($event)" value="3"  id="radioOrderSearch3">
                                    <span class="form-check-label"  for="radioOrderSearch3">
                                        Most comments
                                    </span>
                                </label>
    
                        </div>
                    </div>
            
                </div>
            </div>
        </div>
    
    <div class="row">
            <app-loader></app-loader>      
            <div class="col-12 col-md-4 col-lg-4" *ngFor="let post of birdPosts">
                <div class="card">
                    <div class="card-body">
                        <app-post-votes
                            [postId]="post.postId"
                            [titlePost]="post.title"
                            [authorPostId]="post.userId"
                            [userId]="userLoggedName"
                            [voteCount]="post.voteCount"
                            [specieId]="post.specieId"
                            [voteId]="post.voteId"
                            [hasVote]="post.hasVote"></app-post-votes>
                            
                            <a class="fs-4 removeLinkLine" routerLink="/{{post.userId}}/{{post.postId}}">
                                <strong>{{post.title}}</strong></a>
                                        
                    </div>
                    <a (click)="showImage(post.imageUrl)">
                        <img src="{{imagesPostUrl}}{{post.imageUrl}}" alt="{{post.altImage}}" 
                            class="card-img-top">
                    </a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <em *ngIf="post.birdSpecie">{{post.birdSpecie}}</em>
            
                            <a *ngIf="post.type == 'pending'" class="link-info" href="/{{post.userId}}/pending/{{post.postId}}#commentsDiv">Help the user to identify the bird</a>
                            <p class="card-text">{{post.text}}</p> 
                        </li>
                        <li class="list-group-item">
                            <a href="/{{post.userId}}/{{post.postId}}" class="card-link">
                                <i class="align-middle mr-2 fas fa-fw fa-comment"></i> 
                                <span class="align-middle">&nbsp;{{post.commentCount}}&nbsp;comments</span>
                            </a>
            
                            <img src="https://birdpostsqa.blob.core.windows.net/profiles/{{post.userPhoto}}" 
                                alt="image of {{post.userId}}" class="imgAuthorPost">
                            <a class="card-link" href="/userpage/{{post.userId}}">{{post.userId}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="single-post-details-area" *ngIf="!hasNotPosts">
                <div class="leave-comment-area clearfix">
                    <div class="post-content">
                        <p>
                            {{ 'userPage.userWithoutPost' | translate }}
                        </p>
                    </div>
                </div>
            </div>
    </div>

    </div>
</main>


<!--
<div class="container mt-15">
    
    <div class="row justify-content-center"> 

        <div class="col-12 col-md-8">  
            <app-loader></app-loader>         
            <div *ngFor="let post of birdPosts">
                
                <div class="row divPost divPostColor">  
                    <div class="col-12 col-md-1 div-right-line">
                        <app-post-votes
                            [postId]="post.postId"
                            [titlePost]="post.title"
                            [authorPostId]="post.userId"
                            [userId]="userLoggedName"
                            [voteCount]="post.voteCount"
                            [specieId]="post.specieId"
                            [voteId]="post.voteId"
                            [hasVote]="post.hasVote"></app-post-votes>
                    </div>
                    <div class="col-12 col-md-11">
                        <div class="row mb-15 div-bottom-line">
                            <div class="col-12 col-md-11">
                                <div>
                                    <a class="text-dark titlePost fs-4 removeLinkLine" href="/{{post.userId}}/{{post.postId}}">{{post.title}}</a>
                                    <div>
                                        <img src="https://birdpostsqa.blob.core.windows.net/profiles/{{post.userPhoto}}" alt="image of {{post.userId}}" class="imgAuthorPost">
                                        <a class="text-dark btn fs-6 fw-light removeLinkLine" href="/userpage/{{post.userId}}">{{post.userId}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="showDeleteOption(post.userId)">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" >
                                    <button mat-menu-item type="button" (click)="deletePost(post)">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{ 'postPage.delete' | translate }}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="row mb-15 div-bottom-line">
                            <a (click)="showImage(post.imageUrl)"><img src="{{imagesPostUrl}}{{post.imageUrl}}" alt="{{post.altImage}}" class="postImage divPostImgContent img-fluid rounded float-end"></a>
                        </div>
                        <div class="row mb-5 div-bottom-line">
                            <div>
                                <img class="social-image" src="../../../../assets/img/core-img/ico-comments.png" /><span class="aligned-with-icon">&nbsp;{{post.commentCount}}&nbsp;comments</span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div *ngIf="post.birdSpecie">
                                <strong>{{ 'userPage.birdSpecie' | translate }}:</strong> {{post.birdSpecie}}
                            </div>

                            <a *ngIf="post.type == 'pending'" class="link-info" href="/{{post.userId}}/pending/{{post.postId}}#commentsDiv">Help the user to identify the bird</a>
                             
                        </div>
                        <div *ngIf="post.type != 'post'" class="row mb-5 div-bottom-line">
                            <div><strong>{{ 'userPage.observationDate' | translate }}: &nbsp;</strong> 
                            <span *ngIf="post.observationDate">{{post.observationDate}}</span>
                            <span *ngIf="!post.observationDate">--</span></div>
                        </div>

                        <div class="row mb-15">
                            <div>
                                {{post.text}}
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            
            <div class="single-post-details-area" *ngIf="!hasNotPosts">
                <div class="leave-comment-area clearfix">
                    <div class="post-content">
                        <p>
                            {{ 'userPage.userWithoutPost' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4" >
            <div class="divFilter">
                <strong>Filter</strong>
            </div>
            <div class="autocomplete-form divFilterNoTop">
                <div class="d-flex">
                    <mat-form-field class="autocomplete-full-width  pr-15">
                        <input type="text" class="form-control" aria-label="Number" matInput  [matAutocomplete]="autoBird"
                            [formControl]="autocompleteControl" 
                            id="specieNamePost" placeholder="Introduce especia">
                            
                        <input type="hidden" id="specieIdPost" [formControl]="specieIdPostControl" >    
                        <mat-autocomplete #autoBird="matAutocomplete" (optionSelected)='selectSpecie($event.option.value)'>
                            <mat-option *ngFor="let option of filteredSpecies | async" [value]="option" (change)="toggleSelection(option)" (click)="$event.stopPropagation()">
                                {{option.nameComplete}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    
                    <div class="form-group inputSearchTop ">
                        <button type="button" class="btn btn-outline-primary addLabelBtn" (click)="removeFilterSpecie()" [hidden]="hideRemoveBtn"><mat-icon>close</mat-icon></button> 
                        <button type="button" class="btn btn-outline-primary addLabelBtn" (click)="addFilterSpecie()" [hidden]="!hideRemoveBtn"><mat-icon>search</mat-icon></button> 
                    </div>
                </div>
            </div>

            <div class="divFilterNoTop">
                <strong>Order</strong>
            </div>
            <div class="divFilterNoTop">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOrderSearch" id="radioOrderSearch1" 
                        (change)="changeSearchOrder($event)" value="1" checked>
                    <label class="form-check-label" for="radioOrderSearch1">
                        By date
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOrderSearch"
                        (change)="changeSearchOrder($event)" value="2" id="radioOrderSearch2">
                    <label class="form-check-label" for="radioOrderSearch2">
                        Most votes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOrderSearch"
                        (change)="changeSearchOrder($event)" value="3"  id="radioOrderSearch3">
                    <label class="form-check-label" for="radioOrderSearch3">
                        Most comments
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>-->