<div class="container mt-15">
    
    <div class="row justify-content-center"> 

        <div class="col-12 col-md-8">             
            <div *ngFor="let post of birdPosts">
                
                <div class="row divPost divPostColor">  
                    <div class="col-12 col-md-1 div-right-line">
                        <div class="divVote">
                            {{post.voteCount}}
                            <button type="button" 
                                (click)="addVote(post, post.hasVote)" 
                                [ngClass]="{'hasVote-btn' : post.hasVote, 'vote-btn' : !post.hasVote}" 
                                class="votebtn">
                                <mat-icon>thumb_up</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-11">
                        <div class="row mb-15 div-bottom-line">
                            <div class="col-12 col-md-11">
                                <div>
                                    <a class="text-dark titlePost fs-4 removeLinkLine" href="/{{post.userId}}/post/{{post.postId}}">{{post.title}}</a>
                                    <div>
                                        <img src="https://birdpostsqa.blob.core.windows.net/profiles/{{post.userPhoto}}" alt="image of {{post.userId}}" class="imgAuthorPost">
                                        <a class="text-dark btn fs-6 fw-light removeLinkLine" href="/userpage/{{post.userId}}">{{post.userId}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="showDeleteOption(post.userId)">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" >
                                    <button mat-menu-item type="button" (click)="deletePost(post)">
                                        <mat-icon>edit</mat-icon>
                                        <span>edit</span>
                                    </button>
                                    <button mat-menu-item type="button" (click)="deletePost(post)">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{ 'postPage.delete' | translate }}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="row mb-15 div-bottom-line">
                            <a (click)="showImage(post.imageUrl)"><img src="{{imagesPostUrl}}{{post.imageUrl}}" alt="{{post.altImage}}" class="postImage divPostImgContent img-fluid rounded float-end"></a>
                        </div>
                        <div class="row mb-5 div-bottom-line">
                            <div>
                                <img class="social-image" src="../../../../assets/img/core-img/icons8-topic-48.png" /><span class="aligned-with-icon">&nbsp;{{post.commentCount}}&nbsp;comments</span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div [hidden]="!post.birdSpecie">
                                {{ 'userPage.birdSpecie' | translate }}: {{post.birdSpecie}}
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div [hidden]="!post.observationDate">
                                {{ 'userPage.observationDate' | translate }}: {{post.observationDate}} 
                            </div>
                        </div>
                        <div class="row mb-15">
                            <div>
                                {{post.text}}
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            
            <div class="single-post-details-area" *ngIf="!hasNotPosts">
                <div class="leave-comment-area clearfix">
                    <div class="post-content">
                        <p>
                            {{ 'userPage.userWithoutPost' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4" >
            <div class="divFilter">
                <strong>Filter</strong>
            </div>
            

            <div class="divFilterNoTop">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioFilterSearch" 
                        (change)="changeSearchType($event)" id="radioFilterSearch2" value="1" checked>
                    <label class="form-check-label" for="radioFilterSearch2">
                        Posts
                    </label>
                </div>
            </div>

            <div class="autocomplete-form divFilterNoTop">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioFilterSearch" 
                        (change)="changeSearchType($event)" id="radioFilterSearch1" value="2">
                    <label class="form-check-label" for="radioFilterSearch1">
                        Birds
                    </label>
                </div>

                <div class="d-flex">
                    <mat-form-field class="autocomplete-full-width  pr-15">
                        <input type="text" class="form-control" aria-label="Number" matInput  [matAutocomplete]="autoBird"
                            [formControl]="autocompleteControl" 
                            id="specieNamePost" placeholder="Introduce especia">
                            
                        <input type="hidden" id="specieIdPost" [formControl]="specieIdPostControl" >    
                        <mat-autocomplete #autoBird="matAutocomplete" (optionSelected)='selectSpecie($event.option.value)'>
                            <mat-option *ngFor="let option of filteredSpecies | async" [value]="option" (change)="toggleSelection(option)" (click)="$event.stopPropagation()">
                                {{option.nameComplete}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    
                    <div class="form-group inputSearchTop ">
                        <button type="button" class="btn btn-outline-primary addLabelBtn" (click)="removeFilterSpecie()" [hidden]="hideRemoveBtn"><mat-icon>close</mat-icon></button> 
                        <button type="button" class="btn btn-outline-primary addLabelBtn" (click)="addFilterSpecie()" [hidden]="!hideRemoveBtn"><mat-icon>search</mat-icon></button> 
                    </div>
                </div>
            </div>

            <div class="divFilterNoTop">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioFilterSearch" 
                        (change)="changeSearchType($event)" id="radioFilterSearch3" value="3">
                    <label class="form-check-label" for="radioFilterSearch3">
                        Birds to identify
                    </label>
                </div>
            </div>

            <div class="divFilterNoTop">
                <strong>Order</strong>
            </div>
            <div class="divFilterNoTop">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOrderSearch" id="radioOrderSearch1" 
                        (change)="changeSearchOrder($event)" value="1" checked>
                    <label class="form-check-label" for="radioOrderSearch1">
                        By date
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOrderSearch"
                        (change)="changeSearchOrder($event)" value="2" id="radioOrderSearch2">
                    <label class="form-check-label" for="radioOrderSearch2">
                        Most votes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOrderSearch"
                        (change)="changeSearchOrder($event)" value="3"  id="radioOrderSearch3">
                    <label class="form-check-label" for="radioOrderSearch3">
                        Most comments
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>