<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(assets/img/bg-img/24.jpg);">
        <h2>{{ 'account.login' | translate }}</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> {{ 'general.home' | translate }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ 'account.login' | translate }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<section class="contact-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-5">
               
                <div class="section-heading">
                    <h2>{{ 'account.login' | translate }}</h2>
                    <p>{{ 'account.loginText' | translate }}</p>
                </div>
              
                <div class="contact-form-area mb-100">
                    
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        
                        <label *ngIf="errorResponse" class="error-text">{{ 'account.errorResponseMessage' | translate }}</label>
                        <label *ngIf="notActivatedAccount" class="error-text">{{ 'account.loginActivatedAccountMessage' | translate }}</label>
                        <label *ngIf="emailPassWrong" class="error-text">{{ 'account.invalidEmailPasswordMessage' | translate }}</label>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="emialLogin">{{ 'account.email' | translate }}*</label>
                                    <input type="email" 
                                        id="emialLogin"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                        formControlName="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="passwordLogin">{{ 'account.password' | translate }}*</label>
                                    <input type="password" 
                                        id="passwordLogin"
                                        class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        formControlName="password">
                                </div>
                                <div>
                                    <label for="emialLogin">{{ 'account.forgetPasswordLink' | translate }}</label>&nbsp;<a href="forgotpassword">{{ 'account.forgotPassword' | translate }}</a>
                                </div>
                                
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn alazea-btn mt-15">{{ 'account.login' | translate }}</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>