/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

html, body { height: 100%; }


.LabelsSelect {
    display: inline !important;
}
  
.postImage{
    width: 600px;       
    height: 400px;
}
