/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

html, body { height: 100%; }


.LabelsSelect {
    display: inline !important;
}
  
.postImage{
    width: 600px;       
    height: 400px;
}


.divPost {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ebebeb;
}


.divPostImgContent {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imgProfilePost{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px; 
}