/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

html, body { height: 100%; }


.LabelsSelect {
    display: inline !important;
}
  
.postImage{
    width: 600px;       
    height: 400px;
}


.divPost {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ebebeb;
}


.divAuthor {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
}

.mapAuthor {
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
}


.divPostImgContent {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imgProfilePost{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px; 
}

.selectImage{
	background-color: #fff;
    border: 2px dashed #ebebeb;
	text-align: center;
	padding: 20px;
}

.selectImageLabel{
	width: 100%;
	cursor: pointer;	
}


.selectImageCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid #70c745;
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
}
.iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 3px 10px 3px 10px;
	background-color: #70c745;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
.iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}