<div class="container">

    <div class="form-signin">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <img class="mb-4" src="../../../../assets/img/core-img/leaf.png" alt="" width="72" height="57">
    
            <h1 class="h3 mb-3 fw-normal">{{ 'account.loginText' | translate }}</h1>
    
            <label *ngIf="errorResponse" class="error-text">{{ 'account.errorResponseMessage' | translate }}</label>
            <label *ngIf="notActivatedAccount" class="error-text">{{ 'account.loginActivatedAccountMessage' | translate }}</label>
            <label *ngIf="emailPassWrong" class="error-text">{{ 'account.invalidEmailPasswordMessage' | translate }}</label>
    
            <label for="emialLogin" class="visually-hidden">{{ 'account.email' | translate }}*</label>
            <input type="email" 
                id="emialLogin"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                formControlName="email"
                placeholder="{{ 'account.email' | translate }}">
    
            <label for="passwordLogin" class="visually-hidden">{{ 'account.password' | translate }}*</label>
            <input type="password" 
                id="passwordLogin"
                class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                formControlName="password"
                placeholder="{{ 'account.password' | translate }}">
    
            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
    
            <div class="mb-15">
                <label>{{ 'account.forgetPasswordLink' | translate }}</label>&nbsp;<a routerLink="/forgotpassword" routerLinkActive="active">{{ 'account.forgotPassword' | translate }}</a>
            </div>
    
            <button type="submit" class="w-100 btn btn-lg btn-primary">{{ 'account.login' | translate }}</button>
          
        </form>
      </div>
</div>
