<main class="content">
    <div class="container-fluid">
      <div class="header">
          <h1 class="header-title">
              Blank Page
          </h1>
      </div>
      
      <div class="row">
        
        <div class="col-xxl-8">
          <app-loader></app-loader>    
          <div class="card-body">
  
            <div *ngIf="!isLoading && hasFollows">
              <div class="card" *ngFor="let follow of follows">
  
                <div class="card-body">
                  <h5 class="card-title">
                    <i class="align-middle me-2 fas fa-fw fa-comment"></i>
                    <a class="removeLinkLine" href="userpage/{{follow.followUserId}}"><strong class="text-gray-dark">{{follow.followUserId}}</strong></a>
                  </h5>
                  <div class="d-flex justify-content-between">
  
                    <div class="col-12 col-md-10">
                      <h6 class="card-subtitle text-muted">Creation date:&nbsp;{{follow.creationDate}}</h6>
                      <p>{{follow.userId}}</p>
                    </div>
  
                    <!--<div class="col-12 col-md-1">
                      <button type="button" class="btn btn-outline-danger addLabelBtn" (click)="deleteComment(comment)"><i class="align-middle me-2 fas fa-fw fa-trash-alt"></i></button>
                    </div>-->
                  </div>
                </div>
              </div>  
            </div>  
            <div *ngIf="!isLoading && !hasFollows" >
              YOu dont have followers
            </div>        
          </div>
        </div>
        
      </div>
    </div>
  </main>