
<div class="wrapper" *ngIf="isLogged" >
  <nav id="sidebar" class="sidebar">
      <a class="sidebar-brand divLogo" href="index.html">
        <img src="../../../assets/img/bclogo.png" style="height: 55px;">
        Bird Community
      </a>
      <div class="sidebar-content">
        <div class="sidebar-user">
          <img src="{{imageProfileUrl}}{{userImage | async}}" alt="image of {{user.userId}}" class="img-fluid rounded-circle mb-2" alt="Linda Miller" />
          <div class="fw-bold">{{user.userId}}</div>
          <small>{{user.firstName}}&nbsp;{{user.lastName}}</small>
        </div>
    
        <ul class="sidebar-nav">
          <li class="sidebar-item">
            <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle me-2 fas fa-fw fa-file-image"></i> <span class="align-middle">Create Post</span>
            </a>
            <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
              <li class="sidebar-item"><a class="sidebar-link" routerLink="createPost/post" routerLinkActive="active">Post</a></li>
              <li class="sidebar-item"><a class="sidebar-link" routerLink="createPost/observation" routerLinkActive="active">Observation</a></li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/userlabel" routerLinkActive="active">
              <i class="align-middle me-2 far fa-fw fa-list-alt"></i> <span class="align-middle">Labels</span>
            </a>
          </li>
    
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="userpage/{{user.userId}}" routerLinkActive="active">
              <i class="align-middle me-2 far fa-fw fa-list-alt"></i> <span class="align-middle">Page</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/usermappage/{{user.userId}}" routerLinkActive="active">
              <i class="align-middle mr-2 fas fa-fw fa-map-marked-alt"></i> <span class="align-middle">Map</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/userProfile" routerLinkActive="active">
              <i class="align-middle me-2 fas fa-fw fa-user"></i> <span class="align-middle">Your profile</span>
            </a>
          </li>
          <li class="sidebar-header">
            Your interactions
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/uservotes" routerLinkActive="active">
              <i class="align-middle me-2 far fa-fw fa-star"></i> <span class="align-middle">Post votes</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a data-bs-target="#ui" data-bs-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle me-2 fas fa-fw fa-comments"></i> <span class="align-middle">Comments</span>
            </a>
            <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/usercomments" routerLinkActive="active">Comments</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/usercommentvotes" routerLinkActive="active">Comments votes</a>
              </li>
            </ul>
          </li>

          <li class="sidebar-item">
            <a data-bs-target="#charts" data-bs-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle me-2 fas fa-fw fa-users"></i> <span class="align-middle">User</span>
            </a>
            <ul id="charts" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/userfollow" routerLinkActive="active">Follow</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/userfollower" routerLinkActive="active">Follower</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/landingusers" routerLinkActive="active">Search users</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/" (click)="logout()">
              <i class="align-middle me-2 fas fa-fw fa-sign-in-alt"></i> <span class="align-middle">{{ 'account.logOut' | translate }}</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>