<div class="content">

    <div class="container-fluid">
        <div class="header">
            <h1 class="header-title">
                Create post
            </h1>
        </div>
        

      <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="ng-untouched ng-pristine ng-valid">
                        <div class="row mb">
                            <div class="col-12 mb">
                                <div class="form-group">
                                    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="sizeError">
                                        <div class="alert-message">
                                            The maximun size of the image is 3 MB.
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div><img [src]="url" *ngIf="url" class="img-fluid rounded center"></div>
                                        </div>
                                    </div>
                                    <label for="uploadImage" class="selectImageLabel" *ngIf="!visibleEditImage">
                                        <div class="selectImage" for="uploadImage">
                                            <img src="../../../../assets/img/core-img/addImage.png" class="selectImageCenter"/>
                                            {{ 'createPost.upload' | translate }}
                                        </div>
                                    </label>
                                    <input type="file" #file id="uploadImage" accept="image/*" (change)="selectFile($event)"/>                    
                                </div>
                            </div>
        
                            <div class="col-12 col-md-12 mt-15">
                                <div class="form-group">
                                    <button type="button" class="btn btn-outline-primary" *ngIf="visibleEditImage" (click)="deleteImage()">remove</button>&nbsp;
                                    <button type="button" class="btn btn-outline-primary" *ngIf="visibleEditImage" (click)="openEditImage()">{{ 'createPost.editImage' | translate }}</button>                                         
                                </div>
                            </div>   
                        </div>

                        <div class="row mb" *ngIf="!isPost">
                            <div class="form-group col-md-4">
                                <label for="titlePost">Specie</label>
                                <input type="text" class="form-control" [matAutocomplete]="autoBird"
                                    [formControl]="specieAutocompleteControl" 
                                    id="specieNamePost" placeholder="Introduce especie">
                                
                                <mat-autocomplete #autoBird="matAutocomplete" (optionSelected)='selectSpecie($event.option.value)'>
                                    <mat-option *ngFor="let option of filteredSpecies | async" [value]="option" (change)="selectSpecie(option)" (click)="$event.stopPropagation()">
                                        {{option.nameComplete}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioSpecieTypeSearch" id="radioSpecieTypeSearch1" 
                                        (change)="changeSearchSpecie($event)" value="1" checked>
                                    <span class="form-check-label"  for="radioSpecieTypeSearch1">
                                        Coomon name
                                    </span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioSpecieTypeSearch"
                                        (change)="changeSearchSpecie($event)" value="2" id="radioSpecieTypeSearch2">
                                    <span class="form-check-label"  for="radioSpecieTypeSearch2">
                                        Science name
                                    </span>
                                </label>
                            </div>
                            <div class="form-group col-md-5">
                                <div class="alert alert-primary alert-dismissible" role="alert">
                                    <div class="alert-message">
                                        If you don't know the specie, you don't need to select an specie.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb" *ngIf="!isPost">
                            <div class="form-group col-md-5">
                                <label for="titlePost">Country</label>
                                <input type="text" class="form-control" [matAutocomplete]="autoCountry"
                                    [formControl]="countryAutocompleteControl" 
                                    id="countryID" placeholder="Select country">
                                
                                <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="selectedCountry($event)">
                                    <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                                        {{country.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                            <div class="form-group col-md-3">

                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="{{ 'createPost.chooseDate' | translate }}" 
                                        id="observationDatePost" formControlName="observationDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="row mb">
                            <div class="form-group">
                                <label for="titlePost">Title</label>
                                <input type="text" class="form-control" id="titlePost" 
                                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
                                    placeholder="{{ 'createPost.title' | translate }}" 
                                    formControlName="title" >
                            </div>
                        </div>
                        <div class="row mb">
                            <div class="form-group">
                                <label for="message">Text</label>
                                <textarea class="form-control" 
                                    name="message" 
                                    id="textPost" 
                                    cols="30" 
                                    rows="5" 
                                    [ngClass]="{ 'is-invalid': submitted && f.text.errors }"
                                    placeholder="{{ 'createPost.text' | translate }}"
                                    formControlName="text" ></textarea>
                            </div>
                        </div>
                        <div class="row mb">
                            <div class="form-row">
                                <mat-form-field class="example-chip-list LabelsSelect">
                                    <mat-label>{{ 'createPost.descriptionLabel' | translate }}</mat-label>
                                    <mat-chip-list #chipList aria-label="Label selection">
                                    <mat-chip
                                        *ngFor="let label of labels"
                                        [selectable]="true"
                                        [removable]="true"
                                        (removed)="remove(label)">
                                        {{label}}
                                        
                                        <mat-icon matChipRemove *ngIf="true"><i class="align-middle mr-2 fas fa-fw fa-times"></i></mat-icon>
                                    </mat-chip>
                                    <input
                                        id="labelsPost" 
                                        placeholder="{{ 'createPost.descriptionLabel' | translate }}" 
                                        #labelInput
                                        [formControl]="labelCtrl"
                                        [matChipInputFor]="chipList"
                                        [matAutocomplete]="autoLabel"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                    
                                    <mat-autocomplete #autoLabel="matAutocomplete" (optionSelected)="selected($event)">
                                        <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
                                            {{label}}
                                        </mat-option>
                                    </mat-autocomplete>
        
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row mb">
                            <div class="form-group">
                                <button class="btn btn-outline-primary" type="button" (click)="showHideMap()" [hidden]="showMap"><i class="align-middle mr-2 fas fa-fw fa-map-marker-alt"></i>Add location</button>
                                <button class="btn btn-outline-primary" type="button" (click)="showHideMap()" [hidden]="!showMap">remove</button>
                            </div>
                        </div>
                        
                        <div [hidden]="!showMap">
                            <div class="row mb">
                                <div class="form-group col-md-6">
                                    <label for="titlePost">Latitude</label>
                                    <input type="text"  
                                        class="form-control" 
                                        id="latitudePost" 
                                        placeholder="{{ 'createPost.latitude' | translate }}" 
                                        [ngClass]="{ 'is-invalid': submitted && f.latitude.errors}"
                                        formControlName="latitude" 
                                        (change)="onChangeEvent()" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="titlePost">Longitude</label>
                                    <input type="text" 
                                        class="form-control" 
                                        placeholder="{{ 'createPost.longitude' | translate }}" 
                                        id="longitudePost"
                                        formControlName="longitude" 
                                        [ngClass]="{ 'is-invalid': submitted && f.longitude.errors}"
                                        (change)="onChangeEvent()" />
                                </div>
                            </div>
                            <div class="row mb">
                                <div class="col-12 mt-15">
                                    <div #mapWrapper id="map" class="createPostMap"></div>
                                </div>
                            </div>
                        </div>
                        
                        <button *ngIf="submitted" class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>

                        <button type="submit" *ngIf="!submitted" class="btn btn-primary mt-15">
                            {{ 'createPost.createPostBtn' | translate }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>








