#uploadImage {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.selectImage{
	background-color: #fff;
    border: 2px dashed #ebebeb;
	text-align: center;
	padding: 20px;
}

.selectImageLabel{
	width: 100%;
	cursor: pointer;	
}


.selectImageCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.LabelsSelect {
    display: inline !important;
}

.createPostMap {
	height: 400px;
}

.autocomplete-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.mb{
	margin-bottom: 1rem;
}