
<main class="content">
  <div class="container-fluid">
      <div class="header">
          <h1 class="header-title">
            {{ 'followUser.followerTitle' | translate }}
          </h1>
      </div>
  
      <div class="row">  
        <div class="col-md-3 col-xl-2">
          <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                  {{ 'settingsMenu.profileSetting' | translate }}
                </h5>
            </div>
            <div class="list-group list-group-flush" role="tablist">
                <a class="list-group-item list-group-item-action" routerLink="/userProfile" 
                    routerLinkActive="active" role="tab">
                    <i class="align-middle me-2 fas fa-fw fa-user"></i> <span class="align-middle">{{ 'settingsMenu.profile' | translate }}</span>
                </a>
                <a class="list-group-item list-group-item-action" routerLink="/userlabel" routerLinkActive="active" role="tab">
                    <i class="align-middle me-2 far fa-fw fa-list-alt"></i> 
                    <span class="align-middle">{{ 'settingsMenu.labels' | translate }}</span>
                </a>
                <a class="list-group-item list-group-item-action" routerLink="/usercomments" routerLinkActive="active" role="tab">
                  {{ 'settingsMenu.comments' | translate }}
                </a>
                <a class="list-group-item list-group-item-action" routerLink="/userfollow" routerLinkActive="active" role="tab">
                  {{ 'settingsMenu.follow' | translate }}
                </a>
                <a class="list-group-item list-group-item-action" routerLink="/userfollower" routerLinkActive="active" role="tab">
                  {{ 'settingsMenu.followers' | translate }}
                </a>
            </div>
        </div>
      </div>
      <div class="col-md-9 col-xl-10">
        <div class="card">
          <div class="card-body">
            <table id="datatables-clients" class="table table-striped dataTable no-footer dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables-clients_info">
              <thead>
                <tr role="row">
                  <th tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 56px;">#</th>
                  <th tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 211px;">{{ 'followUser.name' | translate }}</th>
                  <th tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 174px;">{{ 'followUser.followSince' | translate }}</th>
                </tr>
              </thead>
              <tbody>                     
                <tr role="row" class="odd" *ngFor="let follower of followers">
                    <td class="dtr-control"><img src="img/avatars/avatar-3.jpg" class="rounded-circle my-n1" alt="Avatar" width="32" height="32"></td>
                    <td class="sorting_1">
                      <a href="userpage/{{follower.followUserId}}">
                        <strong class="text-gray-dark">{{follower.followUserId}}</strong>
                      </a>
                    </td>
                    <td>{{follower.creationDate}}</td>
                  </tr>
                </tbody>
            </table>
            <app-loader></app-loader>   
            <div *ngIf="!isLoading && !hasFollowers" >
              YOu dont have followers
            </div> 
        </div>  
      </div>  
      </div>
        
      </div>
  </div>
</main>