<main class="content">
    <div class="container-fluid">
   
        

        <div class="row">
            <div class="col-xxl-9">
                <div class="row">
                    <app-loader></app-loader>      
                    <div class="col-12 col-md-6 col-lg-6" *ngFor="let post of userPosts">
                        <div class="card">
                            <div class="card-header">
                                <app-post-votes
                                    [postId]="post.postId"
                                    [titlePost]="post.title"
                                    [authorPostId]="post.userId"
                                    [userId]="userLoggedName"
                                    [voteCount]="post.voteCount"
                                    [specieId]="post.specieId"
                                    [voteId]="post.voteId"
                                    [hasVote]="post.hasVote"></app-post-votes>
                                
                                <a class="fs-4 removeLinkLine" routerLink="/{{post.userId}}/{{post.postId}}">
                                <strong>{{post.title}}</strong></a>

                                <div class="card-actions float-end">
                                    <a href="#" class="me-1">
                                        <i class="align-middle" data-feather="refresh-cw"></i>
                                    </a>
                                    <div class="d-inline-block dropdown show">
                                        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                            <i class="align-middle me-2 fas fa-fw fa-ellipsis-v"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-end">
                                            <button class="dropdown-item" type="button" (click)="deletePost(post)">
                                                <i class="align-middle me-2 fas fa-fw fa-trash-alt"></i>
                                                <span>{{ 'postPage.delete' | translate }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="post.imageUrl != ''">
                                <a (click)="showImage(post.imageUrl)">
                                    <img src="{{imagesPostUrl}}{{post.imageUrl}}" alt="{{post.altImage}}" 
                                        class="card-img-top">
                                </a>
                            </div>

                            
                                <div class="body-card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <a routerLink="/birdpage/{{post.specieId}}" *ngIf="post.birdSpecie"><em >{{post.birdSpecie}}</em></a>
                            
                                            <a *ngIf="post.type == 'pending'" class="link-info" href="/{{post.userId}}/pending/{{post.postId}}#commentsDiv">Help the user to identify the bird</a>
                                            <p class="card-text">{{post.text}}</p> 
                                        </li>

                                        <li class="list-group-item" *ngIf="post.labels != null && post.labels.length > 0">
                                            <div class="row mb-15" >
                                                <div class="col-12">
                                                    <strong>{{ 'postPage.tags' | translate }}:</strong>
                                                    <button type="button" *ngFor="let label of post.labels" role="button" 
                                                        (click)="searchWithLabels(label)" class="btn btn-outline-primary btn-sm ml-3">
                                                        <span>{{label}}</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md">
                                                    <a href="/{{post.userId}}/{{post.postId}}" class="card-link">
                                                        <i class="align-middle mr-2 fas fa-fw fa-comment"></i> 
                                                        <span class="align-middle">&nbsp;{{post.commentCount}}&nbsp;comments</span>
                                                    </a>
                                                </div>
                                                <div class="col-md alignRight">
                                                    <a class="card-link" href="/userpage/{{post.userId}}">
                                                        <img src="{{imagesProfileUrl}}{{post.userPhoto}}" 
                                                            alt="image of {{post.userId}}" class="imgAuthorPost">
                                                        {{post.userId}}</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            
                        </div>
                    </div>
                    <div class="single-post-details-area" style="padding-top: 50px;" *ngIf="!hasPosts">
                        <div class="card">
                            <div class="leave-comment-area clearfix">
                                <div class="post-content">
                                    <p>
                                        {{ 'userPage.userWithoutPost' | translate }}
                                    </p>
                                    <a routerLink="/createPost/observation"> create your first post</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-xxl-3">
                <app-author-details></app-author-details>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Filter</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row"> 
                                <div class="form-group col-md-6">                           
        
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioSearch" 
                                        (change)="changeSearchType($event)" id="radioAll" value='all' checked>
                                        <label class="form-check-label" for="radioAll">
                                            All
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioSearch" 
                                        (change)="changeSearchType($event)" id="radioPost" value='post'>
                                        <label class="form-check-label" for="radioPost">
                                            Posts
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioSearch" 
                                        (change)="changeSearchType($event)" id="radioBird" value='bird'>
                                        <label class="form-check-label" for="radioBird">
                                            birds
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioSearch" 
                                        (change)="changeSearchType($event)" id="radioPending" value='pending'>
                                        <label class="form-check-label" for="radioPending">
                                            Pending
                                        </label>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" *ngIf="userLabels != null">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Labels</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row"> 
                                <div class="form-group">            
                                <div class="form-group">
                                    <button *ngFor="let label of userLabels" type="button"
                                        [ngClass]="{'btn-primary btn-sm' : selectedLabel == label.id, 'btn-outline-primary btn-sm' : selectedLabel != label.id}" 
                                        (click)="searchWithLabels(label.id)" class="btn p-label">
                                        {{label.id}} <span class="badge bg-secondary">{{label.postCount}}</span>
                                      </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>



























