<div class="container mt-15">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">   
            <app-loader></app-loader>
            <div *ngFor="let post of userPosts">
                
                <div class="row divPost divPostColor">  
                    <div class="col-12 col-md-1 div-right-line">
                        <div class="divVote">
                            {{post.voteCount}}
                            <button type="button" 
                                (click)="addVote(post, post.hasVote)" 
                                [ngClass]="{'hasVote-btn' : post.hasVote, 'vote-btn' : !post.hasVote}" 
                                class="votebtn">
                                <mat-icon>thumb_up</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-11">
                        <div class="row mb-15 div-bottom-line">
                            <div class="col-12 col-md-11">
                                <div>
                                    <a class="text-dark titlePost fs-4 removeLinkLine" href="/{{post.userId}}/{{post.postId}}">{{post.title}}</a>
                                    <div>
                                        <img src="https://birdpostsqa.blob.core.windows.net/profiles/{{post.userPhoto}}" alt="image of {{post.userId}}" class="imgAuthorPost">
                                        <a class="text-dark btn fs-6 fw-light removeLinkLine" href="/userpage/{{post.userId}}">{{post.userId}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="showDeleteOption(post.userId)">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" >
                                    <button mat-menu-item type="button" (click)="deletePost(post)">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{ 'postPage.delete' | translate }}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="row mb-15 div-bottom-line">
                            <a (click)="showImage(post.imageUrl)"><img src="{{imagesPostUrl}}{{post.imageUrl}}" alt="{{post.altImage}}" class="postImage divPostImgContent img-fluid rounded float-end"></a>
                        </div>
                        <div class="row mb-5 div-bottom-line">
                            <div>
                                <img class="social-image" src="../../../../assets/img/core-img/icons8-topic-48.png" /><span class="aligned-with-icon">&nbsp;{{post.commentCount}}&nbsp;comments</span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div>
                                <strong>{{ 'userPage.birdSpecie' | translate }}:</strong> {{post.birdSpecie}}
                                <a *ngIf="post.type == 'pending'" class="link-info" href="/{{post.userId}}/pending/{{post.postId}}#commentsDiv">Help the user to identify the bird</a>
                             
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div *ngIf="post.type != 'post'">
                                <strong>{{ 'userPage.observationDate' | translate }}: &nbsp;</strong> 
                                <span *ngIf="post.observationDate">{{post.observationDate}}</span>
                                <span *ngIf="!post.observationDate">--</span>
                            </div>
                        </div>
                        <div class="row mb-15">
                            <div>
                                {{post.text}}
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            
            <div class="single-post-details-area" *ngIf="hasNotPosts">
                <div class="leave-comment-area clearfix">
                    <div class="post-content">
                        <p>
                            {{ 'userPage.userWithoutPost' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-9 col-md-4" >
            
            <div class="mb-15" [hidden]="!isLogged">
                <a routerLink="/createPost" class="btn btn-primary" style="width: 100%;">{{ 'userPage.addPost' | translate }}</a>
            </div>
            
            <app-author-details></app-author-details>

            <div class="divAuthor">
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" (change)="toggleEditable($event)" type="checkbox" value="post" id="flexCheckPost" checked>
                        <label class="form-check-label" for="flexCheckPost">
                          Post
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" (change)="toggleEditable($event)" type="checkbox" value="bird" id="flexCheckBird" checked>
                        <label class="form-check-label" for="flexCheckBird">
                          Birds
                        </label>
                      </div>
                </div>
            </div>

            <div class="form-group">
                <button *ngFor="let label of userLabels" type="button"
                    [ngClass]="{'btn-primary' : selectedLabel.id == label.id, 'btn-outline-primary' : selectedLabel.id != label.id}" 
                    (click)="searchWithLabels(label)" class="btn ml-5 mb-5 labelUserPage">
                    {{label.id}} <span class="badge bg-secondary labelUserPage">{{label.postCount}}</span>
                  </button>
            </div>
        </div>
        

    </div>
</div>

