.imgAuthorPost {
    flex: 0 0 80px;
    max-width: 80px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.p-label {
    margin-right: 3px;
    margin-bottom: 3px;
}

.labelUserPage { 
	padding: 2px 5px 2px 5px !important;
}