<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-5">
          
            <div class="contact-form-area mb-100">       
                <div *ngIf="activateAccount" class="col-12 col-sm-12">
                    <div class="single-benefits-area">
                        <img src="../../../../assets/img/core-img/b1.png" alt="">
                        <h2>{{ 'account.successConfimationEmail' | translate }}</h2>
                        <p>{{ 'account.successConfimationEmailText' | translate }}</p>
                        <p><a routerLink="/" routerLinkActivate="activate">{{ 'general.home' | translate }}</a></p>
                    </div>
                </div>
        
                <div *ngIf="activateAccountError" class="col-12 col-sm-12">
                    <div class="single-benefits-area">
                        <img src="../../../../assets/img/core-img/b1.png" alt="">
                        <h2>{{ 'account.errorConfirmEmail' | translate }}</h2>
                        <p>{{ 'account.errorConfirmEmalText' | translate }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


  