<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="index.html">
          <img src="../assets/img/core-img/leaf.png" alt="logo" width="30" height="24">
        </a>
    <a class="navbar-brand"  routerLink="index.html">Observetion birds</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="searchmap">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="birdpage">Birds species</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="withoutspecie">{{ 'general.pendingSpecie' | translate }}</a>
        </li>
      </ul>

      <div class="btn-group me-2" [hidden]="!isLogged">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              {{ userNameMenu }}
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><a class="dropdown-item" routerLink="createPost" routerLinkActive="active">{{ 'userPage.addPost' | translate }}</a></li>
              <li><a class="dropdown-item" routerLink="userpage/{{ userNameMenu }}">{{ 'general.myPage' | translate }}</a></li>
              <li><a class="dropdown-item" routerLink="userProfile" routerLinkActive="active">{{ 'user.profileMenu' | translate }}</a>
              <li><a class="dropdown-item" routerLink="#" routerLinkActive="active" (click)="logout()">{{ 'account.logOut' | translate }}</a></li>
          </ul>
      </div>
      
      <div class="btn-group me-2"  [hidden]="isLogged">
          <a routerLink="login" class="btn btn-outline-secondary" role="button">
              {{ 'account.login' | translate }}
          </a>
      </div>

      <div class="btn-group me-2"  [hidden]="isLogged">
          <a routerLink="signup" class="btn btn-secondary" role="button">
              {{ 'account.signUp' | translate }}
          </a>
      </div>

      <div class="btn-group me-2">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              Language
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><a class="dropdown-item" (click)="changeLang('en')">English</a></li>
              <li><a class="dropdown-item" (click)="changeLang('es')">Spanish</a></li>
              <li> <a class="dropdown-item" (click)="changeLang('de')">Deuche</a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>