<nav class="navbar navbar-expand navbar-theme navBackgroundColor">
  <a style="width: 150px;" class="sidebar-toggle d-flex me-2">
      <i class="hamburger align-self-center"></i>
  </a>

  <a style="width: 150px;" aria-current="page" routerLink="lastposts" routerLinkActive="active">Last posts</a>

  <a style="width: 150px;" aria-current="page" routerLink="searchpage" routerLinkActive="active">Map</a>

  <a style="width: 150px;" routerLink="birdpage" routerLinkActive="active">See birds</a>

  <a style="width: 265px;" routerLink="withoutspecie" routerLinkActive="active">{{ 'general.pendingSpecie' | translate }}</a>


    <a [hidden]="isLogged" routerLink="login" class="btn btn-secondary" role="button">
        {{ 'account.login' | translate }}
    </a>&nbsp;
    <a [hidden]="isLogged" routerLink="signup" class="btn btn-secondary" role="button">
        {{ 'account.signUp' | translate }}
    </a>

    
  <!--<div class="navbar-collapse collapse" >
      <ul class="navbar-nav ms-auto" >
      
          <li class="nav-item dropdown ms-lg-2" *ngIf="isLogged">
              <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-bs-toggle="dropdown">
                <img style="width: 20px;" src="{{imageProfileUrl}}{{userImage}}" alt="image of marlotina"> 
                {{ userNameMenu }}
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <a class="dropdown-item" routerLink="userProfile" routerLinkActive="active">
                  <i class="align-middle me-1 fas fa-fw fa-user"></i>
                  {{ 'user.profileMenu' | translate }}
                </a>

                <a class="dropdown-item" routerLink="createPost" routerLinkActive="active">
                  <i class="align-middle me-1 fas fa-fw fa-comments"></i>
                  {{ 'userPage.addPost' | translate }}
                </a>

                <a class="dropdown-item" routerLink="userpage/{{ userNameMenu }}">
                  <i class="align-middle me-1 fas fa-fw fa-chart-pie"></i>
                  {{ 'general.myPage' | translate }}
                </a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#" routerLinkActive="active" (click)="logout()">
                    <i class="align-middle me-1 fas fa-fw fa-arrow-alt-circle-right"></i>
                    {{ 'account.logOut' | translate }}
                  </a>
              </div>
          </li>
      </ul>
  </div>-->

</nav>
<!--

      <div class="btn-group me-2">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              Language
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><a class="dropdown-item" (click)="changeLang('en')"><img class="social-image" src="../../../assets/img/core-img/icons8-great-britain.png" />English</a></li>
              <li><a class="dropdown-item" (click)="changeLang('es')"><img class="social-image" src="../../../assets/img/core-img/icons8-spain.png" />Español</a></li>
              <li> <a class="dropdown-item" (click)="changeLang('de')"><img class="social-image" src="../../../assets/img/core-img/icons8-germany.png" />Deutsche</a></li>
          </ul>
      </div>
-->