<div id="modal-content-wrapper">
  
    <section class="contact-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12">
                   
                    <div class="section-heading">
                        <h2>{{ 'user.imageProfileText' | translate }}</h2>
                    </div>
                  
                    <div class="contact-form-area mb-100">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="text-danger" *ngIf="showErrorExtensionImage" >{{ 'user.acceptExtensionFormats' | translate }}</label>                                        
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="uploadImage" class="buttonTwo" style="text-align: center; padding-top: 5px;">{{ 'user.upload' | translate }}</label>
                                    <input type="file" #file id="uploadImage" accept="image/x-png,image/jpeg" (change)="fileChangeEvent($event)" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <button (click)="deleteImage()" class="buttonTwo">{{ 'user.deleteImage' | translate }}</button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div *ngIf="this.nameFile">
                                    <button (click)="zoomOut()" class="buttonTwo" style="width: 50%;"> - </button> 
                                    <button (click)="zoomIn()" class="buttonTwo" style="width: 50%;"> + </button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div *ngIf="this.nameFile">
                                    <button (click)="resetImage()" class="buttonTwo">{{ 'user.resetImage' | translate }}</button>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <image-cropper
                                    class="imgClass"
                                    [imageChangedEvent]="imageChangedEvent"
                                    [maintainAspectRatio]="true"
                                    [aspectRatio]="1 / 1"
                                    [resizeToWidth]="300"
                                    [resizeToHeight]="25"
                                    [cropperMinWidth]="300"
                                    [cropperMinHeight]="300"
                                    [onlyScaleDown]="true"
                                    [roundCropper]="false"
                                    [canvasRotation]="canvasRotation"
                                    [transform]="transform"
                                    [alignImage]="'left'"
                                    [style.display]="showCropper ? null : 'none'"
                                    format="png,jpg"
                                    (imageCropped)="imageCropped($event)"
                                    (imageLoaded)="imageLoaded()"
                                    (cropperReady)="cropperReady($event)"
                                    (loadImageFailed)="loadImageFailed()">
                                </image-cropper>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="modal-footer">
        <div class="welcome-btn-group" style="margin-bottom: 30px;">
            <button mat-raised-button class="btn alazea-btn mr-30" (click)="updateImage()">{{ 'user.save' | translate }}</button>
            <button mat-raised-button class="btn alazea-btn active" (click)="closeModal()">{{ 'user.back' | translate }}</button>
        </div>
        
    </footer>