#uploadImage {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.selectImage{
	background-color: #fff;
    border: 2px dashed #ebebeb;
	text-align: center;
	padding: 20px;
}

.selectImageLabel{
	width: 100%;
	cursor: pointer;	
}

.imageHeight{
    max-height: 350px;
}

.margingLeft {
    margin-left: 10px;
}