<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../../../../assets/img/bg-img/24.jpg);">
        <h2>{{ 'userPage.userPage' | translate }}</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Blog</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Single Blog Post</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<div class="container">
    
    <div class="row justify-content-center mb-100">
        <!-- Blog Posts Area -->
        <div class="col-12 col-md-8">
            <div class="section-heading">
                <h2>{{ 'createPost.createPost' | translate }}</h2>
                <p>Edit your profile</p>
            <div>
            <div class="divPost">
                <div class="blog-posts-area">
                    <div class="leave-comment-area clearfix">
                        <div class="comment-form">
                            <div class="contact-form-area">
                                <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="ng-untouched ng-pristine ng-valid">
                                    <div class="row">
                                        
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                                                <div><img [src]="url" *ngIf="url"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="uploadImage" class="buttonThree" style="text-align: center; padding-top: 5px;">{{ 'createPost.upload' | translate }}</label>
                                                <input type="file" #file id="uploadImage" (change)="selectFile($event)" />                        
                                            </div>
                                        </div>
                    
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <button type="button" class="buttonThree" *ngIf="visibleEditImage" (click)="openEditProfile()">{{ 'createPost.editImage' | translate }}</button>                                            
                                            </div>
                                        </div>                    
                    
                                        <div class="col-12 col-md-8">
                                            <div class="form-group">
                                                <div class="autocomplete-form">
                                                    <mat-form-field class="autocomplete-full-width">
                                                        <input type="text" aria-label="Number" matInput  [matAutocomplete]="autoBird"
                                                            [formControl]="autocompleteControl"  formControlName="specieName"   
                                                            id="specieNamePost" placeholder="{{ 'createPost.birdSpecie' | translate }}">
                                                        <mat-autocomplete #autoBird="matAutocomplete" (optionSelected)='selectSpecie($event.option.value)'>
                                                            <mat-option *ngFor="let option of filteredSpecies | async" [value]="option" (change)="selectSpecie(option)" (click)="$event.stopPropagation()">
                                                                {{option.nameComplete}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                      </mat-form-field>
                                                </div>
                    
                                                <input type="hidden" id="specieIdPost" formControlName="specieId" >
                                            </div>
                                        </div>
                    
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" placeholder="{{ 'createPost.chooseDate' | translate }}" id="observationDatePost" formControlName="observationDate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                    
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="titlePost" 
                                                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
                                                    placeholder="{{ 'createPost.title' | translate }}" 
                                                    formControlName="title" >
                                            </div>
                                        </div>
                    
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control" 
                                                    name="message" 
                                                    id="textPost" 
                                                    cols="30" 
                                                    rows="10" 
                                                    [ngClass]="{ 'is-invalid': submitted && f.text.errors }"
                                                    placeholder="{{ 'createPost.text' | translate }}"
                                                    formControlName="text" ></textarea>
                                            </div>
                                        </div>
                    
                                        <div class="col-12">
                                            <mat-form-field class="example-chip-list LabelsSelect">
                                                <mat-label>{{ 'createPost.descriptionLabel' | translate }}</mat-label>
                                                <mat-chip-list #chipList aria-label="Label selection">
                                                <mat-chip
                                                    *ngFor="let label of labels"
                                                    [selectable]="selectable"
                                                    [removable]="removable"
                                                    (removed)="remove(label)">
                                                    {{label}}
                                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                </mat-chip>
                                                <input
                                                    id="labelsPost" 
                                                    placeholder="{{ 'createPost.descriptionLabel' | translate }}" 
                                                    #labelInput
                                                    [formControl]="labelCtrl"
                                                    [matChipInputFor]="chipList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    (matChipInputTokenEnd)="add($event)">
                                                </mat-chip-list>
                                                <!--
                                                    [matAutocomplete]="auto"
                                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                                <mat-option *ngFor="let label of filteredLabel | async" [value]="label">
                                                    {{label}}
                                                </mat-option>
                                                </mat-autocomplete>-->
                                            </mat-form-field>
                                        </div>
    
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input type="text"  
                                                    class="form-control" 
                                                    id="latitudePost" 
                                                    placeholder="{{ 'createPost.latitude' | translate }}" 
                                                    [ngClass]="{ 'is-invalid': submitted && f.latitude.errors}"
                                                    formControlName="latitude" 
                                                    (change)="onChangeEvent()" />
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input type="text" 
                                                    class="form-control" 
                                                    placeholder="{{ 'createPost.longitude' | translate }}" 
                                                    id="longitudePost"
                                                    formControlName="longitude" 
                                                    [ngClass]="{ 'is-invalid': submitted && f.longitude.errors}"
                                                    (change)="onChangeEvent()" />
                                            </div>
                                        </div>
                    
                                        <div class="col-12">
                                            <div *ngIf="apiLoaded | async" class="map-area mb-100">
                                                <google-map
                                                    [center]="center"
                                                    [options]="mapOptions"
                                                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
                                                    (mapClick)="addMarker($event)">
                                                        <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                                                            [options]="markerOptions"></map-marker>
                                                </google-map>
                                            </div>
                                            
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn alazea-btn mt-15">{{ 'createPost.createPostBtn' | translate }}</button>
                                        </div>
                    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>


    <div class="row">
        
    </div>
</div>















