
<div class="top-header-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="top-header-content d-flex align-items-center justify-content-between">
          
                    <div class="top-header-meta">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: infodeercreative@gmail.com</span></a>
                    </div>

                 
                    <div class="top-header-meta d-flex">
                   
                        <div class="language-dropdown">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle mr-30" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" (click)="changeLang('en')">English</a>
                                    <a class="dropdown-item" (click)="changeLang('es')">Spanish</a>
                                    <a class="dropdown-item" (click)="changeLang('de')">Deuche</a>
                                </div>
                            </div>
                        </div>
                       
                        <div class="login">
                            <a href="signup"><i class="fa fa-user" aria-hidden="true"></i> <span>Sign Up</span></a>
                        </div>
                        <div class="login">
                            <a href="login"><span>Login</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>