<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(assets/img/bg-img/24.jpg);">
        <h2>{{ 'account.signUp' | translate }}</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i>{{ 'general.home' | translate }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ 'account.signUp' | translate }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<section class="testimonial-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
                <!-- Single Testimonial Slide -->
                <div class="single-testimonial-slide">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="testimonial-thumb">
                                <img src="../../../assets/img/bg-img/13.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                                    
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="email">{{ 'user.email' | translate }}*</label>
                                            <input type="email" 
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                                formControlName="email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="username">{{ 'user.username' | translate }}*</label>
                                            <input type="text" 
                                                class="form-control" 
                                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                                                formControlName="userName">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="name">{{ 'account.name' | translate }}*</label>
                                            <input type="text" 
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                                formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="surname">{{ 'account.surname' | translate }}*</label>
                                            <input type="text" 
                                                class="form-control"
                                                formControlName="surname">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="urlWebSite">{{ 'account.urlWebSite' | translate }}*</label>
                                    <input type="text" 
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.urlWebSite.errors }"
                                        formControlName="urlWebSite">
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-group">                                            
                                    <input type="checkbox" formControlName="isCompany" id="isCompany" value="new" checked> 
                                    <label for="isCompany" class="font-weight-400"><span></span>{{ 'account.isCompany' | translate }}?</label> 
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="location">{{ 'account.location' | translate }}*</label>
                                    <input type="text" 
                                        class="form-control"
                                        formControlName="location">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="photo">{{ 'account.photo' | translate }}*</label>
                                    <input type="text" 
                                        class="form-control"
                                        formControlName="photo">
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="description">{{ 'account.description' | translate }}*</label>
                                    <input type="text" 
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                                        formControlName="description">
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="languageId">{{ 'account.languageId' | translate }}*</label>
                                    <select class="form-control" formControlName="languageId">
                                        <option value="1d134297-b070-4149-a2e0-c2643de48f95">English</option>
                                        <option value="c7bc511d-562b-4a59-a434-2d754fe40f5c">Catalan</option>  
                                        <option value="17368404-4355-49c8-b289-08f357a92b9f">Spanish</option>                   
                                        </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="lastModification">{{ 'account.lastModification' | translate }}*</label>
                                    <input type="text" 
                                        class="form-control"
                                        formControlName="lastModification">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="username">{{ 'account.registrationDate' | translate }}*</label>
                                    <input type="text" 
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.registrationDate.errors }"
                                        formControlName="registrationDate">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="userId">{{ 'user.userId' | translate }}*</label>
                                    <input class="form-control"
                                        formControlName="id">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn alazea-btn mt-15">{{ 'account.login' | translate }}</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</section>