<main class="content">
    <div class="container-fluid">
        <div class="header">
            <h1 class="header-title">
                Blank Page
            </h1>
        </div>
        

        <div class="row">
            <div class="col-12 col-md-9">   
                <div #mapWrapper id="map" class="map-container">
                    <app-loader></app-loader>
                </div>
            </div>
        
            <div class="col-xxl-3">
                <app-author-details></app-author-details>
            </div>
        </div>

    </div>
</main>