<main class="content">
    <div class="container-fluid">
        <div class="header">
            <h1 class="header-title">
                {{ 'searchMap.searchMapTitle' | translate }}
            </h1>
        </div>
        
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        {{ 'searchMap.filters' | translate }}
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" [matAutocomplete]="autoBird"
                                    [formControl]="autocompleteControl" 
                                    id="specieNamePost" placeholder="{{ 'searchMap.writeSpecie' | translate }}">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-primary" (click)="addFilterSpecie()">
                                        <i class="align-middle me-1 fas fa-fw fa-search"></i>
                                    </button> 
                                    &nbsp;
                                    <button type="button" class="btn btn-primary" (click)="removeFilterSpecie()" [hidden]="hideRemoveBtn">
                                        <i class="align-middle me-1 fas fa-fw fa-times"></i>
                                    </button> 
                                </span>
                                <mat-autocomplete #autoBird="matAutocomplete" (optionSelected)='selectSpecie($event.option.value)'>
                                    <mat-option *ngFor="let option of filteredSpecies | async" [value]="option" (change)="toggleSelection(option)" 
                                        (click)="$event.stopPropagation()">
                                        {{option.nameComplete}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                        </div>      

                        <div class="form-group col-md-4">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioSpecieTypeSearch" id="radioSpecieTypeSearch1" 
                                    (change)="changeSearchSpecie($event)" value="1" checked>
                                <span class="form-check-label"  for="radioSpecieTypeSearch1">
                                    {{ 'searchMap.commonName' | translate }}
                                </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioSpecieTypeSearch"
                                    (change)="changeSearchSpecie($event)" value="2" id="radioSpecieTypeSearch2">
                                <span class="form-check-label"  for="radioSpecieTypeSearch2">
                                    {{ 'searchMap.scienceName' | translate }}
                                </span>
                            </label>
                        </div>
                
                        <div class="form-group col-md-4">
                            <div class="ml-15 form-group inputSearchTop">
                                <input id="pac-input" type="text" placeholder="{{ 'searchMap.writeLocation' | translate }}" class="form-control" />
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
        </div>
    
        <div class="col-12 col-md-12">
            <div #mapWrapper id="map" class="map-container">
                <app-loader></app-loader>
            </div>
        </div>

    </div>
</main>