<div class="container mb-5 mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-5"> Nested comment section </h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="media"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://i.imgur.com/stD0Q19.jpg" />
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5>Maria Smantha</h5> <span>- 2 hours ago</span>
                                    </div>
                                    <div class="col-4">
                                        <div class="pull-right reply"> <a href="#"><span><i class="fa fa-reply"></i> reply</span></a> </div>
                                    </div>
                                </div> It is a long established fact that a reader will be distracted by the readable content of a page. <div class="media mt-4"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/xELPaag.jpg" /></a>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5>Simona Disa</h5> <span>- 3 hours ago</span>
                                            </div>
                                        </div> letters, as opposed to using 'Content here, content here', making it look like readable English.
                                    </div>
                                </div>
                                <div class="media mt-3"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/nAcoHRf.jpg" /></a>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5>John Smith</h5> <span>- 4 hours ago</span>
                                            </div>
                                        </div> the majority have suffered alteration in some form, by injected humour, or randomised words.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media mt-4"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://i.imgur.com/xELPaag.jpg" />
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5>Shad f</h5> <span>- 2 hours ago</span>
                                    </div>
                                    <div class="col-4">
                                        <div class="pull-right reply"> <a href="#"><span><i class="fa fa-reply"></i> reply</span></a> </div>
                                    </div>
                                </div> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33. <div class="media mt-4"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/nUNhspp.jpg" /></a>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5>Andy flowe</h5> <span>- 5 hours ago</span>
                                            </div>
                                        </div> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                    </div>
                                </div>
                                <div class="media mt-3"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/HjKTNkG.jpg" /></a>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5>Simp f</h5> <span>- 5 hours ago</span>
                                            </div>
                                        </div> a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                                    </div>
                                </div>
                                <div class="media mt-3"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/nAcoHRf.jpg" /></a>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5>John Smith</h5> <span>- 4 hours ago</span>
                                            </div>
                                        </div> the majority have suffered alteration in some form, by injected humour, or randomised words.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row div-top-line  mb-15">
    <div class="col-9">
        <i class="align-middle mr-2 fas fa-fw fa-comment"></i> 
        <span class="aligned-with-icon">&nbsp;{{commentCount}}&nbsp;comments</span>
    </div>
</div>

<div class="row mb-15" *ngIf="userNameLogged != null">
    <div class="col-12 col-md-1">
        <img src="{{imagesProfileUrl}}marlotina.jpg" alt="{{ 'postPage.userImage' | translate }}" class="rounded-circle mr-1" alt="Kathie Burton" width="40" height="40">
    
        <label>{{userNameLogged}}</label>
    </div>
    <div class="col-12 col-md-11">
        <textarea class="form-control mb-15" #commentInput  
            name="text" id="text" cols="20" rows="3" 
            placeholder="{{ 'postPage.comment' | translate }}"></textarea>
        <button type="button" (click)="addComment(null, commentInput.value)" 
            class="btn btn-primary">{{ 'postPage.postComment' | translate }}</button>
    </div>
</div>

<ng-container
*ngTemplateOutlet="replyThread; context: { $implicit: comments }"
    ></ng-container>

<ng-template #replyThread let-childReplies>
    <div class="row mt-15" *ngFor="let comment of childReplies;">
        <div class="col-12 col-md-1">
            <div *ngIf="comment.userId">
                <a href="{{comment.userId}}" >
                    <img src="{{imagesProfileUrl}}{{comment.userImage}}" alt="{{ 'postPage.userImage' | translate }}" class="rounded-circle mr-1" alt="Kathie Burton" width="40" height="40">
                </a>
            </div>
        </div> 
        <div class="col-12 col-md-11">
            <div class="row">
                <div class="col-12 col-md-11 rowComment">

                    <div *ngIf="comment.userId" class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3" >
                        <small >{{comment.userId}}&nbsp;<em>{{comment.creationDate}}</em></small>
                        <p>{{comment.text}}</p>
                    </div>

                    <div *ngIf="!comment.userId" class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3 mb-15">
                        <p>el comentario fue borrado</p>
                    </div>

                    <div *ngIf="userNameLogged != null && comment.userId">
                        <button type="button" 
                            (click)="addVote(comment)" 
                            [ngClass]="{'hasVote-btn' : comment.hasVote, 'vote-btn' : !comment.hasVote}" 
                            class="votebtn">
                            <i class="align-middle mr-2 fas fa-fw fa-arrow-alt-circle-up"></i> 
                        </button>
                        &nbsp;Votes {{comment.voteCount}}&nbsp;
                        <a class="badge bg-primary" data-bs-toggle="collapse" 
                            href="#collapseExample-{{comment.id}}" (click)="showCommentForm(comment.id)" 
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            Reply
                        </a>
                        
                        <div class="row">
                            <div class="collapse" id="collapseExample-{{comment.id}}">
                                <ng-container *ngIf="showFormList[comment.id]">
                                    <ng-container
                                    *ngTemplateOutlet="
                                    commetForm;
                                    context: { $implicit: comment }
                                    "
                                    ></ng-container>

                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>   

                <div class="col-12 col-md-1 commetDate">
                    <div class="card-actions float-end" *ngIf="showOwnerCommentOptions(comment.userId)">
                        <a href="#" class="me-1">
                            <i class="align-middle" data-feather="refresh-cw"></i>
                        </a>
                        <div class="d-inline-block dropdown show">
                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                <i class="align-middle me-2 fas fa-fw fa-ellipsis-v"></i>
                            </a>
    
                            <div class="dropdown-menu dropdown-menu-end">
                                <button class="dropdown-item" mat-menu-item type="button" (click)="deleteComment(comment)">
                                    <i class="align-middle me-2 fas fa-fw fa-trash-alt"></i>
                                    <span>{{ 'postPage.delete' | translate }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="comment.replies">
                    <ng-container
                    *ngTemplateOutlet="
                    replyThread;
                        context: { $implicit: comment.replies}
                    "
                    ></ng-container>
                </ng-container>
                
            </div>
        </div>
    </div>
</ng-template>

<ng-template #commetForm let-commentInfo>
    <div class="card card-body divPost">
        <div class="col-12 col-md-6 mb-15">
            <div class="form-group">
                <label>{{userNameLogged}}</label>
            </div>
        </div>
        <div class="col-12 mb-15">
            <div class="form-group">
                <textarea class="form-control" #titleInput  name="text" id="text" cols="30" rows="3" placeholder="{{ 'postPage.comment' | translate }}"></textarea>
            </div>
        </div>
        <div class="col-12 mb-15">
            <button type="button" (click)="addComment(commentInfo, titleInput.value)" class="btn btn-primary">{{ 'postPage.postComment' | translate }}</button>
        </div>
    </div>
</ng-template>