<div class="row mb-5 div-bottom-line">
    <div class="col-9">
        <img class="social-image" src="../../../../assets/img/core-img/ico-comments.png" /><span class="aligned-with-icon">&nbsp;{{commentCount}}&nbsp;comments</span>
    </div>
</div>

<div class="row" *ngIf="userNameLogged != null">
    <div class="col-12 col-md-6 mb-15">
        <div class="form-group">
            <label>{{userId}}</label>
        </div>
    </div>
    <div class="col-12 mb-15">
        <div class="form-group">
            <textarea class="form-control" #textInput  name="text" id="text" cols="30" rows="3" placeholder="{{ 'postPage.comment' | translate }}"></textarea>
        </div>
    </div>
    <div class="col-12 mb-15">
        <button type="button" (click)="addComment(null, textInput.value)" class="btn btn-primary">{{ 'postPage.postComment' | translate }}</button>
    </div>
</div>

<ng-container
*ngTemplateOutlet="replyThread; context: { $implicit: comments }"
    ></ng-container>

<ng-template #replyThread let-childReplies>
        <div class="row mt-15" *ngFor="let comment of childReplies;">
            <div class="col-12 col-md-1">
                <a href="{{comment.userId}}"><img src="{{imagesProfileUrl}}{{comment.userImage}}" alt="{{ 'postPage.userImage' | translate }}" class="mt-15 imgAuthorPost"></a>
            </div> 
            <div class="col-12 col-md-11">
                <div class="row">
                    <div class="col-12 col-md-11">
                        <small>{{comment.userId}}&nbsp;<em>{{comment.creationDate}}</em></small>
                        <p>{{comment.text}}</p>

                        <div *ngIf="userNameLogged != null" class="mb-15">
                            <div class="mb-5">
                                <a class="badge bg-secondary"  role="button">
                                    +
                                </a>
                                  &nbsp;Votes 0&nbsp;
                                <a class="badge bg-secondary" data-bs-toggle="collapse" href="#collapseExample-{{comment.id}}" (click)="showCommentForm(comment.id)" 
                                    role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Reply
                                </a>
                            </div>
                            
                            <div class="row">
                                <div class="collapse" id="collapseExample-{{comment.id}}">
                                    <ng-container *ngIf="showFormList[comment.id]">
                                        <ng-container
                                        *ngTemplateOutlet="
                                        commetForm;
                                        context: { $implicit: comment }
                                        "
                                        ></ng-container>

                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>   

                    <div class="col-12 col-md-1 commetDate">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="user options" *ngIf="showOwnerCommentOptions(comment.userId)">
                            <mat-icon><mat-icon>more_horiz</mat-icon></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" >
                            <button mat-menu-item type="button" (click)="deleteComment(comment)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'postPage.delete' | translate }}</span>
                            </button>
                        </mat-menu>
                    </div>

                    <ng-container *ngIf="comment.replies">
                        <ng-container
                        *ngTemplateOutlet="
                        replyThread;
                            context: { $implicit: comment.replies}
                        "
                        ></ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
</ng-template>

<ng-template #commetForm let-commentInfo>
    <div class="card card-body divPost">
        <div class="col-12 col-md-6 mb-15">
            <div class="form-group">
                <label>{{userId}}</label>
            </div>
        </div>
        <div class="col-12 mb-15">
            <div class="form-group">
                <textarea class="form-control" #titleInput  name="text" id="text" cols="30" rows="3" placeholder="{{ 'postPage.comment' | translate }}"></textarea>
            </div>
        </div>
        <div class="col-12 mb-15">
            <button type="button" (click)="addComment(commentInfo, titleInput.value)" class="btn btn-primary">{{ 'postPage.postComment' | translate }}</button>
        </div>
    </div>
</ng-template>