<div class="nav-scroller bg--body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">      
        <a class="nav-link" routerLink="/createPost">Create post</a>
        <a class="nav-link" routerLink="/uservotes">My votes</a>
        <a class="nav-link" routerLink="/usercomments">My comments</a>
        <a class="nav-link" routerLink="/userProfile">My profile</a>
    </nav>
</div>

<div class="container mt-15">
    <div class="row justify-content-center">
        <div class="row divPost">
        <div *ngFor="let vote of userVotes">
            {{vote.id}}
        </div>
        </div>
    </div>
</div>