<main class="content">
    <div class="container-fluid">
      
        
        <div class="row">
            <div class="col-xxl-9"> 
                <div class="card">
                    <app-loader></app-loader>
                    <div class="card-header">

                        <div class="card-actions float-end" *ngIf="showOwnerOptions">
                            <a href="#" class="me-1">
                                <i class="align-middle" data-feather="refresh-cw"></i>
                            </a>
                            <div class="d-inline-block dropdown show">
                                <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                    <i class="align-middle me-2 fas fa-fw fa-ellipsis-v"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end">
                                    <button class="dropdown-item" type="button" (click)="deletePost()">
                                        <i class="align-middle me-2 fas fa-fw fa-trash-alt"></i>
                                        <span>{{ 'postPage.delete' | translate }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--<div class="card-actions float-end" *ngIf="showOwnerOptions">
                            <a href="#" class="me-1">
                                <i class="align-middle" data-feather="refresh-cw"></i>
                            </a>
                            <div class="d-inline-block dropdown show">
                                <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                    <i class="align-middle me-2 fas fa-fw fa-ellipsis-v"></i>
                                </a>
        
                                <div class="dropdown-menu dropdown-menu-end">
                                    <button mat-menu-item type="button" (click)="deletePost()">
                                        <i class="align-middle me-2 fas fa-fw fa-trash-alt"></i>
                                        <span>{{ 'postPage.delete' | translate }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>-->
                            <app-post-votes
                                *ngIf="this.hasPost"
                                [postId]="post.postId"
                                [titlePost]="post.title"
                                [authorPostId]="post.userId"
                                [userId]="userId"
                                [voteCount]="post.voteCount"
                                [specieId]="post.specieId"
                                [voteId]="post.voteId"
                                [hasVote]="post.hasVote"></app-post-votes>
                                
                                {{post.title}}
                                         
                        </div>
                    <div class="card-body">                        
                        <div class="col-12 col-md-12 div-bottom-line mb-15">
                            <div class="row mb-15 div-bottom-line" *ngIf="this.hasPost">
                                <a (click)="showImage(imagePostUrl)">
                                    <img src="{{imagePostUrl}}" alt="{{post.altImage}}" class="img-fluid rounded center">
                                </a>
                            </div>
                            <div class="row mb-15 div-bottom-line" *ngIf="!this.hasPost">
                                
                                no hay post, fue borrado o no existe
                                
                            </div>
                            
        
                            <div class="row" *ngIf="this.hasPost">
                                <div *ngIf="!post.isPost">
                                    <app-select-specie-form 
                                        [showOptions]="showOwnerOptions"
                                        [specieOldName]="post.birdSpecie"
                                        [specieUrl]="post.specieUrl"
                                        [oldSpecieId]="post.specieId"
                                        [postId]="post.postId"
                                        [type]="type"></app-select-specie-form>
                                </div>
                            </div>
                            <div  class="row">
                                <div  *ngIf="!post.isPost && post.observationDate">
                                    <strong>{{ 'userPage.observationDate' | translate }}:</strong> {{post.observationDate}} 
                                </div>
                            </div>
                            <div class="row mb-15">
                                <div>
                                    {{post.text}}
                                </div>
                            </div>
                            <div class="row mb-15" *ngIf="post.labels != null && post.labels.length > 0">
                                <div class="col-12">
                                    <strong>{{ 'postPage.tags' | translate }}:</strong>
                                    <a *ngFor="let label of post.labels" role="button" href="#" class="ml-5">
                                        <a routerLink="/userpage/{{userId}}/{{label}}"><span class="btn btn-primary btn-sm">{{label}}</span></a>
                                    </a>
                                </div>
                            </div>
        
                            </div>
                            <div class="row mb-15" *ngIf="!post.isPost && hasLocation">
                                <div class="col-12" >
                                    <div class="row justify-content-center">
                                        <div #mapWrapper id="map" class="postMapDetails"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-15" *ngIf="this.hasPost">   
                                <div  class="col-12 d-flex">
                                    <i class="align-middle mr-2 fas fa-fw fa-share-alt"></i>
                                    <a href="http://www.facebook.com/sharer.php?u={{urlPage}}" target="_blank">
                                        <i class="align-middle mr-2 fab fa-fw fa-facebook"></i>
                                    </a>
                                    <a href="https://twitter.com/intent/tweet?text={{post.title}}&url={{urlPage}}" target="_blank">
                                        <i class="align-middle mr-2 fab fa-fw fa-twitter"></i> 
                                    </a>
                                    <a href="https://www.reddit.com/submit?title={{post.title}}&url={{urlPage}}" target="_blank">
                                        <i class="align-middle mr-2 fab fa-fw fa-reddit"></i> 
                                    </a>
                                    <a href="http://www.linkedin.com/shareArticle?url={{urlPage}}" target="_blank">
                                        <i class="align-middle mr-2 fab fa-fw fa-linkedin"></i> 
                                    </a>
                                </div>
                            </div>
                        
                        <div class="row mb-5">                        
                            <app-post-comment *ngIf = "post.postId" 
                                [postId]="post.postId"
                                [postTitle]="post.title"
                                [specieId]="post.specieId"
                                [commentCount]="post.commentCount"
                                [imageUrl]="post.imageUrl"
                                [userId]="post.userId"></app-post-comment>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-xxl-3">
                <app-author-details></app-author-details>
            </div>
        </div>

    </div>
</main>




















<div class="container mt-15">
    <div class="row justify-content-center">
        
        <div class="col-12 col-md-8">
            <div >
                <div class="row divPost divPostColor">  
                    
                </div>  
            </div>
            
            <div *ngIf="hasPost == false">
                POst not FoUnD
            </div>
        </div>

    
    </div>
</div>
