.mb-15 {
    margin-bottom: 15px;
}

.div-top-line {
	padding-top: 10px !important;
    border-top: 1px solid #ebebeb;
}

.postMapDetails {
	height: 315px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}
  
.ml-5 {
	margin-left: 5px;
}