
<div class="container mt-15">
    <div class="row justify-content-center">
        
        <div class="col-12 col-md-8">             
            <div *ngIf="hasPost">
                
                <div class="row divPost divPostColor">  
                    <div class="col-12 col-md-1 div-right-line div-bottom-line mb-15">
                        <div class="divVote">
                            {{post.voteCount}}
                            <button type="button" 
                                (click)="addVote(post, post.hasVote)" 
                                [ngClass]="{'hasVote-btn' : post.hasVote, 'vote-btn' : !post.hasVote}" 
                                class="votebtn">
                                <mat-icon>thumb_up</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-11 div-bottom-line mb-15">
                        <div class="row mb-15 div-bottom-line">
                            <div class="col-12 col-md-11">
                                <div>
                                    <a class="text-dark titlePost fs-4 titleBtn" href="/{{post.userId}}/post/{{post.postId}}">{{post.title}}</a>
                                    <div>
                                        <a class="text-dark btn fs-6 fw-light titleBtn" href="/userpage/{{post.userId}}">{{post.userId}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="showOwnerOptions">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" >
                                    <button mat-menu-item type="button" (click)="deleteItem()">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{ 'postPage.delete' | translate }}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="row mb-15 div-bottom-line">
                            <a href="{{imagePost}}"><img src="{{imagePost}}" alt="{{post.altImage}}" class="postImage divPostImgContent img-fluid rounded float-end"></a>
                        </div>
                        <div class="row mb-5">
                            <div>
                                {{ 'userPage.birdSpecie' | translate }}: {{post.birdSpecie}}
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div>
                                {{ 'userPage.observationDate' | translate }}: {{post.observationDate}} 
                            </div>
                        </div>
                        <div class="row mb-15">
                            <div>
                                {{post.text}}
                            </div>
                        </div>
                        <div class="row mb-15">
                            <ul>
                                <li><span>{{ 'postPage.tags' | translate }}:</span></li>
                                <li *ngFor="let label of postLabels"><a href="#">{{label}}</a></li>
                            </ul>
                        </div>
                        <div class="row mb-15">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>DO</a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>DO</a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>DO</a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>DO</a>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-12">
                            <div class="row mb-5 div-bottom-line">
                                <div>
                                    <mat-icon>comment</mat-icon><span class="aligned-with-icon">&nbsp;{{post.commentCount}}&nbsp;comments</span>
                                </div>
                            </div>
                            <div *ngFor="let comment of comments">
                                
                                <div class="row">
                                    <div class="col-12 col-md-1">
                                        <a href="{{comment.userId}}"><img src="{{imagesProfileUrl}}{{comment.userImage}}" alt="{{ 'postPage.userImage' | translate }}" class="imgAuthorPost"></a>
                                    </div> 
                                    <div class="col-12 col-md-7">
                                        <h5>{{comment.userId}}</h5>
                                    </div>   
                                    <div class="col-12 col-md-3 commetDate">
                                        <small>{{comment.createDate}}</small>
                                    </div>  
                                    
                                    <div class="col-12 col-md-1 commetDate">
                                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="showOwnerCommentOptions(comment.userId)">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu" >
                                            <button mat-menu-item type="button" (click)="deleteComment(comment)">
                                                <mat-icon>delete</mat-icon>
                                                <span>{{ 'postPage.delete' | translate }}</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>{{comment.text}}</p>
                                </div>
                            </div>
    
                        <div *ngIf="isLogged && hasPost" class="div-top-line">
                            <h4 class="headline">{{ 'postPage.leaveComment' | translate }}</h4>
                            
                            <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-15">
                                        <div class="form-group">
                                            <input type="text" formControlName="userId" class="form-control" id="contact-name" placeholder="{{ 'postPage.name' | translate }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-15">
                                        <div class="form-group">
                                            <textarea class="form-control" formControlName="text" name="text" id="text" cols="30" rows="10" placeholder="{{ 'postPage.comment' | translate }}"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-15">
                                        <button type="submit" class="btn btn-primary">{{ 'postPage.postComment' | translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
            
            <div *ngIf="!hasPost">
                POst not FoUnD
            </div>
        </div>

        <div class="col-12 col-sm-9 col-md-4" >
            <div class="mb-15" [hidden]="!isLogged">
                <a routerLink="/createPost" class="btn btn-primary" style="width: 100%;">{{ 'userPage.addPost' | translate }}</a>
            </div>

            <app-author-details></app-author-details>
        </div>
    </div>
</div>

