<main class="content">
  <div class="container-fluid">
      <div class="header">
          <h1 class="header-title">
              Blank Page
          </h1>
      </div>
      
      <div class="row">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title mb-0">Filter</h5>
              </div>
              <div class="card-body">
                  <div class="row">
                     
                      <div class="form-group col-md-6">


                        <div class="form-group col-md-6">
                          <div class="input-group">
                            <input type="text" class="form-control" #inputUserKey aria-label="Number" matInput  [matAutocomplete]="autoBird"
                              [formControl]="autocompleteControl"  
                              id="specieNamePost" placeholder="nombre de usuario">
                              <span class="input-group-append">
                                <button type="button" class="btn btn-outline-primary addLabelBtn" (click)="removeFilterSpecie()" [hidden]="hideRemoveBtn"><i class="align-middle me-1 fas fa-fw fa-times"></i></button> 
                                <button type="button" class="btn btn-outline-primary addLabelBtn" (click)="addFilterSpecie(inputUserKey.value)" [hidden]="!hideRemoveBtn"><i class="align-middle me-1 fas fa-fw fa-search"></i></button> 
                              </span>
                              <mat-autocomplete #autoBird="matAutocomplete" (optionSelected)='selectSpecie($event.option.value)'>
                                <mat-option *ngFor="let option of filteredSpecies | async" [value]="option" (change)="selectSpecie(option)" (click)="$event.stopPropagation()">
                                    <div class="d-flex text-muted pt-3">
                                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                        <div class="d-flex justify-content-between">
                                            <div class="col-12 col-md-1">
                                                <img src="{{imagesProfileUrl}}{{option.userPhoto}}" alt="{{ option.userId }}" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32">
                                            </div>
                                            <div class="col-12 col-md-10 padleft-10">
                                                <a class="removeLinkLine" href="/userpage/{{option.userName}}"><strong class="text-gray-dark">{{option.userName}}</strong></a>
                                                &nbsp;-&nbsp;
                                                <a class="removeLinkLine" href="/userpage/{{option.userName}}"><small>Visita perfil</small></a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  </mat-option>
                              </mat-autocomplete>
                          </div>
                      </div>
                      </div>
                  </div>
          
              </div>
          </div>
      </div>

      <div class="row">    
        <div class="card">
            <div class="card-body">
              <table id="datatables-clients" class="table table-striped dataTable no-footer dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables-clients_info">
                <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 56px;" aria-label="#: activate to sort column ascending">#</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 211px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th>
                    <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 174px;" aria-label="Company: activate to sort column ascending">Description</th>
                  </tr>
                </thead>
                <tbody>                     
                  <tr role="row" class="odd" *ngFor="let user of users">
                      <td class="dtr-control"><img src="{{imagesProfileUrl}}{{user.photo}}" class="rounded-circle my-n1" alt="image of {{user.userName}}" width="32" height="32"></td>
                      <td class="sorting_1">
                        <a href="/userpage/{{user.userName}}">
                          <strong class="text-gray-dark">{{user.userName}}</strong>
                        </a>
                      </td>
                      <td>{{user.description}}</td>
                    </tr>
                  </tbody>
              </table>
          
              <app-loader></app-loader>  
          </div>  
        </div>  
      </div>

  </div>
</main>








<!--

<div class="container mt-15">
    
    <div class="row justify-content-center">
        
        <div class="col-12 col-md-8">   
          <div class="p-3 divPost rounded shadow-sm">
            <h6 class="border-bottom pb-2 mb-0">Usuarios</h6>
            <app-loader></app-loader>
            <div class="d-flex text-muted pt-3"  *ngFor="let user of users">
              <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                  <div class="col-12 col-md-1 pad-3">
                    <img src="https://birdpostsqa.blob.core.windows.net/profiles/{{user.photo}}" alt="image of {{user.userName}}" class="bd-placeholder-img" width="100%">
                  </div>
                  <div class="col-12 col-md-10">
                    <a class="removeLinkLine" href="/userpage/{{user.userName}}"><strong class="text-gray-dark">{{user.userName}}</strong></a>
                    <span class="d-block">{{user.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-9 col-md-4" >
          <div class="ml-15 autocomplete-form autocompleteTop">
            <div class="d-flex">
                <mat-form-field class="autocomplete-full-width pr-5">
                  <input type="text" class="form-control" #inputUserKey aria-label="Number" matInput  [matAutocomplete]="autoBird"
                    [formControl]="autocompleteControl"  
                    id="specieNamePost" placeholder="nombre de usuario">
                        
                    <mat-autocomplete #autoBird="matAutocomplete" (optionSelected)='selectSpecie($event.option.value)'>
                      <mat-option *ngFor="let option of filteredSpecies | async" [value]="option" (change)="selectSpecie(option)" (click)="$event.stopPropagation()">
                          <div class="d-flex text-muted pt-3">
                              <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                              <div class="d-flex justify-content-between">
                                  <div class="col-12 col-md-1 pad-3">
                                      <img src="{{imagesProfileUrl}}{{option.userPhoto}}" alt="{{ option.userName }}" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32">
                                  </div>
                                  <div class="col-12 col-md-10">
                                      <a class="removeLinkLine" href="/userpage/{{option.userName}}"><strong class="text-gray-dark">{{option.userName}}</strong></a>
                                      &nbsp;-&nbsp;
                                      <a class="removeLinkLine" href="/userpage/{{option.userName}}"><small>Visita perfil</small></a>
                                  </div>
                              </div>
                              </div>
                          </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>  
                <div class="form-group inputSearchTop ">
                  <button type="button" class="btn btn-outline-primary addLabelBtn" (click)="removeFilterSpecie()" [hidden]="hideRemoveBtn"><mat-icon>close</mat-icon></button> 
                  <button type="button" class="btn btn-outline-primary addLabelBtn" (click)="addFilterSpecie(inputUserKey.value)" [hidden]="!hideRemoveBtn"><mat-icon>search</mat-icon></button> 
                </div> 
            </div>
        </div>  
            
        </div>
    </div>
  </div>-->